@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.woff) format("woff")
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff) format("woff")
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.woff2) format("woff2"), url(../fonts/Montserrat-Light.woff) format("woff")
}

:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #7b68ee;
  --hover: #7b68ee;
  --active: #4169e1;
  --hover2: #ffffff;
  --active2: #ffffff
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #fff
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Montserrat;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.title-v1 {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 6px
}

@media (max-width:991px) {
  .title-v1 {
    font-size: 34px
  }
}

@media (max-width:600px) {
  .title-v1 {
    font-size: 26px
  }
}

.title-v1 span {
  display: inline-block
}

@media (max-width:991px) {
  .title-v1 span {
    display: inline
  }
}

.title-v1:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .title-v1:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .title-v1:not(:last-child) {
    margin-bottom: 30px
  }
}

.title-v2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 6px
}

@media (max-width:991px) {
  .title-v2 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .title-v2 {
    font-size: 22px
  }
}

.title-v2 span {
  display: inline-block
}

@media (max-width:991px) {
  .title-v2 span {
    display: inline
  }
}

.title-v2:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .title-v2:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .title-v2:not(:last-child) {
    margin-bottom: 30px
  }
}

.title-v3 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 6px
}

@media (max-width:991px) {
  .title-v3 {
    font-size: 24px
  }
}

@media (max-width:600px) {
  .title-v3 {
    font-size: 18px
  }
}

.title-v3 span {
  display: inline-block
}

@media (max-width:991px) {
  .title-v3 span {
    display: inline
  }
}

.title-v3:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .title-v3:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .title-v3:not(:last-child) {
    margin-bottom: 20px
  }
}

.text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 1px
}

@media (max-width:600px) {
  .text {
    font-size: 16px
  }
}

.text-v2 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 1px
}

@media (max-width:600px) {
  .text-v2 {
    font-size: 14px
  }
}

.header {
  padding: 20px 0
}

.header_display {
  display: none
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  min-height: 30px;
  font-size: 42px;
  line-height: 1;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 3px
}

@media (max-width:991px) {
  .header__logo {
    font-size: 34px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 71px;
    flex: 0 0 71px;
    min-height: 25px
  }
}

@media (max-width:600px) {
  .header__logo {
    font-size: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55px;
    flex: 0 0 55px
  }
}

.header__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 100px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none
}

@media (max-width:991px) {
  .header__logo_menu {
    display: inline-block;
    font-size: 42px
  }
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 100;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 15px
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  top: 30px;
  right: 30px
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42px;
  flex: 0 0 42px;
  height: 25px;
  background-color: transparent;
  z-index: 10
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px 50px
}

@media (max-width:991px) {
  .nav__list {
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:991px) {
  .nav__list_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    row-gap: 15px
  }
}

@media (max-width:700px) {
  .nav__list_footer {
    row-gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.nav__link {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--black)
}

@media (max-width:991px) {
  .nav__link_footer {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .nav__link_footer {
    font-size: 16px
  }
}

.nav__link span {
  display: inline-block;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease
}

@media (any-hover:hover) {
  .nav__link:hover span:first-child {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
  }

  .nav__link:hover span:last-child {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px)
  }
}

.nav__link:active span:first-child {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.nav__link:active span:last-child {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.welcome {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: var(--white);
  -webkit-transition: opacity .4s ease, visibility .4s ease;
  -o-transition: opacity .4s ease, visibility .4s ease;
  transition: opacity .4s ease, visibility .4s ease
}

.welcome.welcome-disabled {
  opacity: 0;
  visibility: hidden
}

.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh
}

.welcome__strong {
  display: block;
  font-size: 32px;
  line-height: 1.2;
  color: var(--black);
  font-weight: 700;
  letter-spacing: 8px;
  text-align: center
}

@media (max-width:1439px) {
  .welcome__strong {
    font-size: 28px
  }
}

@media (max-width:1220px) {
  .welcome__strong {
    font-size: 24px
  }
}

@media (max-width:991px) {
  .welcome__strong {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .welcome__strong {
    font-size: 18px;
    letter-spacing: 6px
  }
}

.welcome__strong-span {
  display: inline-block;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0
}

.welcome__strong-span_1 {
  -webkit-animation-name: span1;
  animation-name: span1;
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}

.welcome__strong-span_2 {
  -webkit-animation-name: span2;
  animation-name: span2;
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

.welcome__strong-span_3 {
  -webkit-animation-name: span3;
  animation-name: span3;
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}

.welcome__strong-span_4 {
  -webkit-animation-name: span4;
  animation-name: span4;
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}

.welcome__strong-span_5 {
  -webkit-animation-name: span5;
  animation-name: span5
}

.welcome__strong-span_6 {
  -webkit-animation-name: span6;
  animation-name: span6
}

.welcome__strong-span_7 {
  -webkit-animation-name: span7;
  animation-name: span7;
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}

.welcome__strong-span_8 {
  -webkit-animation-name: span8;
  animation-name: span8;
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}

.welcome__strong-span_9 {
  -webkit-animation-name: span9;
  animation-name: span9;
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

.welcome__strong-span_10 {
  -webkit-animation-name: span10;
  animation-name: span10;
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}

.welcome__strong-span_11 {
  -webkit-animation-name: span11;
  animation-name: span11;
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

.welcome__strong-span_12 {
  -webkit-animation-name: span12;
  animation-name: span12;
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

.welcome__strong-span_13 {
  -webkit-animation-name: span13;
  animation-name: span13;
  -webkit-animation-delay: .7s;
  animation-delay: .7s
}

.welcome__strong-span_14 {
  -webkit-animation-name: span14;
  animation-name: span14;
  -webkit-animation-delay: .8s;
  animation-delay: .8s
}

.welcome__strong-span_15 {
  -webkit-animation-name: span15;
  animation-name: span15;
  -webkit-animation-delay: .9s;
  animation-delay: .9s
}

.welcome__strong-span_16 {
  -webkit-animation-name: span16;
  animation-name: span16;
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

@-webkit-keyframes span1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px) scale(.1);
    transform: translateX(-500px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px) scale(.1);
    transform: translateX(-500px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-450px) scale(.1);
    transform: translateX(-450px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-450px) scale(.1);
    transform: translateX(-450px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400px) scale(.1);
    transform: translateX(-400px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400px) scale(.1);
    transform: translateX(-400px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-350px) scale(.1);
    transform: translateX(-350px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-350px) scale(.1);
    transform: translateX(-350px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px) scale(.1);
    transform: translateX(300px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px) scale(.1);
    transform: translateX(300px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span6 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px) scale(.1);
    transform: translateX(500px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span6 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px) scale(.1);
    transform: translateX(500px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span7 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(480px) scale(.1);
    transform: translateX(480px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span7 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(480px) scale(.1);
    transform: translateX(480px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span8 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(460px) scale(.1);
    transform: translateX(460px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span8 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(460px) scale(.1);
    transform: translateX(460px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span9 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(440px) scale(.1);
    transform: translateX(440px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span9 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(440px) scale(.1);
    transform: translateX(440px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span10 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(420px) scale(.1);
    transform: translateX(420px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span10 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(420px) scale(.1);
    transform: translateX(420px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span11 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(400px) scale(.1);
    transform: translateX(400px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span11 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(400px) scale(.1);
    transform: translateX(400px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span12 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(380px) scale(.1);
    transform: translateX(380px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span12 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(380px) scale(.1);
    transform: translateX(380px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span13 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(360px) scale(.1);
    transform: translateX(360px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span13 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(360px) scale(.1);
    transform: translateX(360px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span14 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(340px) scale(.1);
    transform: translateX(340px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span14 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(340px) scale(.1);
    transform: translateX(340px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span15 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(320px) scale(.1);
    transform: translateX(320px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span15 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(320px) scale(.1);
    transform: translateX(320px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@-webkit-keyframes span16 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px) scale(.1);
    transform: translateX(300px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@keyframes span16 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px) scale(.1);
    transform: translateX(300px) scale(.1)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
  }
}

@media (max-width:600px) {
  @-webkit-keyframes span1 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px) scale(.1);
      transform: translateX(-300px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span1 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px) scale(.1);
      transform: translateX(-300px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-280px) scale(.1);
      transform: translateX(-280px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-280px) scale(.1);
      transform: translateX(-280px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span3 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-260px) scale(.1);
      transform: translateX(-260px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span3 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-260px) scale(.1);
      transform: translateX(-260px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span4 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-240px) scale(.1);
      transform: translateX(-240px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span4 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-240px) scale(.1);
      transform: translateX(-240px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span5 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(220px) scale(.1);
      transform: translateX(220px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span5 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(220px) scale(.1);
      transform: translateX(220px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span6 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(300px) scale(.1);
      transform: translateX(300px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span6 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(300px) scale(.1);
      transform: translateX(300px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span7 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(280px) scale(.1);
      transform: translateX(280px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span7 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(280px) scale(.1);
      transform: translateX(280px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span8 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(260px) scale(.1);
      transform: translateX(260px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span8 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(260px) scale(.1);
      transform: translateX(260px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span9 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(240px) scale(.1);
      transform: translateX(240px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span9 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(240px) scale(.1);
      transform: translateX(240px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span10 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(220px) scale(.1);
      transform: translateX(220px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span10 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(220px) scale(.1);
      transform: translateX(220px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span11 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(200px) scale(.1);
      transform: translateX(200px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span11 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(200px) scale(.1);
      transform: translateX(200px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span12 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(180px) scale(.1);
      transform: translateX(180px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span12 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(180px) scale(.1);
      transform: translateX(180px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span13 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(160px) scale(.1);
      transform: translateX(160px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span13 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(160px) scale(.1);
      transform: translateX(160px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span14 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(140px) scale(.1);
      transform: translateX(140px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span14 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(140px) scale(.1);
      transform: translateX(140px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span15 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(120px) scale(.1);
      transform: translateX(120px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span15 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(120px) scale(.1);
      transform: translateX(120px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @-webkit-keyframes span16 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px) scale(.1);
      transform: translateX(100px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }

  @keyframes span16 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px) scale(.1);
      transform: translateX(100px) scale(.1)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0) scale(1);
      transform: translateX(0) scale(1)
    }
  }
}

.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none
}

.main-screen__trees,
.main-screen__trees span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  will-change: transform
}

.main-screen__trees span {
  -webkit-transform: translate(0, 15%);
  -ms-transform: translate(0, 15%);
  transform: translate(0, 15%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease
}

.main-screen__trees_6 span {
  background-image: url(../img/trees-06.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 100%
}

.main-screen__trees_5 span {
  background-image: url(../img/trees-05.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 100%
}

.main-screen__trees_4 span {
  background-image: url(../img/trees-04.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 90%
}

.main-screen__trees_3 span {
  background-image: url(../img/trees-03.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 70%
}

.main-screen__trees_2 span {
  background-image: url(../img/trees-02.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 70%
}

.main-screen__trees_1 span {
  background-image: url(../img/trees-01.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 60%
}

.main-screen__birds {
  position: absolute;
  z-index: 2
}

.main-screen__birds span {
  display: block
}

.main-screen__birds_1 {
  width: 45vh;
  max-width: 40%;
  left: 10vw;
  top: 20vh
}

.main-screen__birds_1 span {
  background-image: url(../img/birds-01.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 76%;
  /* -webkit-transform: translate(-200%, 0); */
  /* -ms-transform: translate(-200%, 0); */
  /* transform: translate(-200%, 0); */
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  -o-transition: transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  -webkit-transition-delay: 2.3s;
  -o-transition-delay: 2.3s;
  transition-delay: 2.3s
}

.main-screen__birds_2 {
  width: 30vh;
  max-width: 25%;
  right: 10vw;
  top: 10vh
}

.main-screen__birds_2 span {
  background-image: url(../img/birds-02.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 55%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  -o-transition: transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  -webkit-transition-delay: 2.3s;
  -o-transition-delay: 2.3s;
  transition-delay: 2.3s
}

.main-screen__mountains,
.main-screen__mountains span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.main-screen__mountains span {
  background-image: url(../img/mountains.svg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto 80%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  -o-transition: transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s
}

.links {
  padding-top: 300vh
}

.links__container {
  height: 60vh
}

.links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.links__link {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  color: var(--black);
  letter-spacing: 2px
}

@media (max-width:1439px) {
  .links__link {
    font-size: 38px
  }
}

@media (max-width:1220px) {
  .links__link {
    font-size: 32px
  }
}

@media (max-width:991px) {
  .links__link {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .links__link {
    font-size: 22px
  }
}

.links__link span {
  display: inline-block;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease
}

@media (any-hover:hover) {
  .links__link:hover span:first-child {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
  }

  .links__link:hover span:last-child {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px)
  }
}

.links__link:active span:first-child {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.links__link:active span:last-child {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.about {
  padding: 60px 0
}

@media (max-width:600px) {
  .about {
    padding: 40px 0
  }
}

.about__top:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .about__top:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .about__top:not(:last-child) {
    margin-bottom: 30px
  }
}

.about__text {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .about__text {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .about__text {
    margin-bottom: 10px
  }
}

.about-list__item:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 20px
  }
}

.sub-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px
}

.sub-list__item:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .sub-list__item:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .sub-list__item:not(:last-child) {
    margin-bottom: 10px
  }
}

.sub-list__num {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 3px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 25px
}

@media (max-width:600px) {
  .sub-list__num {
    font-size: 16px;
    min-width: 20px
  }
}

.sub-list__text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

.contacts {
  padding: 60px 0
}

@media (max-width:600px) {
  .contacts {
    padding: 40px 0
  }
}

.contacts .ymaps-2-1-79-map-copyrights-promo {
  display: none
}

.contacts .ymaps-2-1-79-copyright_logo_no {
  display: none
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

@media (max-width:991px) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 30px
  }
}

.contacts__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px
}

@media (max-width:991px) {
  .contacts__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.contacts__right {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 850px;
  flex: 0 1 850px;
  height: 600px
}

@media (max-width:991px) {
  .contacts__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    height: 400px
  }
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media (max-width:991px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px 30px
  }
}

@media (max-width:600px) {
  .contacts-list {
    gap: 15px 30px
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px
  }
}

.contacts-list__subtitle:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .contacts-list__subtitle:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .contacts-list__subtitle:not(:last-child) {
    margin-bottom: 20px
  }
}

.contacts-list__link {
  font-size: 20px;
  line-height: 1.2;
  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-animation-name: animContactsItem;
  animation-name: animContactsItem;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@media (max-width:600px) {
  .contacts-list__link {
    font-size: 18px
  }
}

@media (any-hover:hover) {
  .contacts-list__link:hover {
    color: var(--hover)
  }
}

.contacts-list__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts-sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px
}

.contacts-sublist__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  -webkit-animation-name: animContactsItem;
  animation-name: animContactsItem;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px)
}

.contacts-sublist__item_1 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

.contacts-sublist__item_2 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}

.contacts-sublist__item_3 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}

.contacts-sublist__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media (any-hover:hover) {
  .contacts-sublist__link:hover svg {
    fill: var(--hover)
  }
}

.contacts-sublist__link:active svg {
  fill: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts-sublist__link svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  fill: var(--black);
  -webkit-transition: fill .4s ease;
  -o-transition: fill .4s ease;
  transition: fill .4s ease
}

@-webkit-keyframes animContactsItem {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes animContactsItem {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

.portfolio-list__item:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 40px
  }
}

@media (max-width:600px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px
  }
}

.portfolio-swiper {
  overflow: visible
}

@media (max-width:991px) {
  .portfolio-swiper:not(:last-child) {
    margin-bottom: 50px
  }
}

@media (max-width:600px) {
  .portfolio-swiper:not(:last-child) {
    margin-bottom: 30px
  }
}

.portfolio-swiper__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px
}

@media (max-width:991px) {
  .portfolio-swiper__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0
  }
}

.portfolio-swiper__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto
}

.portfolio-swiper__descr {
  position: relative;
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.portfolio-swiper__descr:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .portfolio-swiper__descr:not(:last-child) {
    margin-bottom: 15px
  }
}

.portfolio-swiper__image {
  position: relative;
  padding-bottom: 53.5%;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.portfolio-swiper__image:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .portfolio-swiper__image:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .portfolio-swiper__image:not(:last-child) {
    margin-bottom: 10px
  }
}

.portfolio-swiper__image a {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%
}

.portfolio-swiper__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.portfolio-swiper__button {
  background-color: transparent;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 2px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease
}

@media (max-width:600px) {
  .portfolio-swiper__button {
    font-size: 12px
  }
}

@media (any-hover:hover) {
  .portfolio-swiper__button:hover {
    color: var(--hover)
  }
}

.portfolio-swiper__button:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.portfolio-swiper__see {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: 100%;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease
}

@media (max-width:991px) {
  .portfolio-swiper__see {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .portfolio-swiper__see {
    font-size: 14px
  }
}

@media (any-hover:hover) {
  .portfolio-swiper__see:hover {
    color: var(--hover)
  }
}

.portfolio-swiper__see:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.portfolio-swiper__see:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:600px) {
  .portfolio-swiper__see:not(:last-child) {
    margin-bottom: 10px
  }
}

.portfolio-swiper__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: var(--white);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 1px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--black);
  -webkit-transition: opacity .5s ease, visibility .5s ease;
  -o-transition: opacity .5s ease, visibility .5s ease;
  transition: opacity .5s ease, visibility .5s ease
}

@media (max-width:991px) {
  .portfolio-swiper__text {
    padding: 10px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden
  }

  .portfolio-swiper__text::-webkit-scrollbar {
    width: 2px;
    background-color: var(--white)
  }

  .portfolio-swiper__text::-webkit-scrollbar-thumb {
    background-color: var(--black)
  }
}

@media (max-width:600px) {
  .portfolio-swiper__text {
    font-size: 12px;
    max-height: 250px
  }
}

.portfolio-swiper__text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .portfolio-swiper__text:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .portfolio-swiper__text:not(:last-child) {
    margin-bottom: 10px
  }
}

.portfolio-swiper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 160px;
  min-height: 45px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--purple);
  -webkit-transition: color .2s ease, background-color .2s ease;
  -o-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease
}

@media (max-width:991px) {
  .portfolio-swiper__link {
    font-size: 14px;
    min-width: 140px;
    min-height: 40px
  }
}

@media (max-width:600px) {
  .portfolio-swiper__link {
    font-size: 12px;
    min-width: 120px;
    min-height: 35px
  }
}

@media (any-hover:hover) {
  .portfolio-swiper__link:hover {
    color: var(--purple);
    background-color: var(--hover2)
  }
}

.portfolio-swiper__link:active {
  color: var(--purple);
  background-color: var(--active2);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.portfolio-swiper-descr-active .portfolio-swiper__text {
  opacity: 1;
  visibility: visible
}

.portfolio {
  padding: 60px 0
}

@media (max-width:600px) {
  .portfolio {
    padding: 30px 0
  }
}

.portfolio__controls {
  position: relative;
  display: none
}

@media (max-width:991px) {
  .portfolio__controls {
    display: block
  }
}

.portfolio-swiper-pagination {
  position: static;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width:600px) {
  .portfolio-swiper-pagination {
    gap: 8px
  }
}

.portfolio-swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border: 1px solid var(--purple)
}

@media (max-width:600px) {
  .portfolio-swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px
  }
}

.portfolio-swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--purple)
}

.portfolio__controls .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0
}

.footer {
  padding: 20px 0
}

.footer_display {
  display: none
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

@media (max-width:700px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px
  }
}

.footer__text {
  font-size: 18px;
  line-height: 1.3;
  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center
}

@media (max-width:991px) {
  .footer__text {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .footer__text {
    font-size: 14px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (max-width:700px) {
  .footer__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.footer__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px
}

.footer__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media (any-hover:hover) {
  .footer__link:hover svg {
    fill: var(--hover)
  }
}

.footer__link:active svg {
  fill: var(--active);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer__link svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  fill: var(--black);
  -webkit-transition: fill .4s ease;
  -o-transition: fill .4s ease;
  transition: fill .4s ease
}