* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: local("Roboto-Regular"), url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.woff) format("woff")
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: local("Roboto-Bold"), url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.woff) format("woff")
}

@font-face {
  font-family: TTFirsNeue;
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: local("TTFirsNeue-Regular"), url(../fonts/TTFirsNeue-Regular.woff2) format("woff2"), url(../fonts/TTFirsNeue-Regular.woff) format("woff")
}

@font-face {
  font-family: TTFirsNeue;
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: local("TTFirsNeue-Medium"), url(../fonts/TTFirsNeue-Medium.woff2) format("woff2"), url(../fonts/TTFirsNeue-Medium.woff) format("woff")
}

@font-face {
  font-family: TTFirsNeue;
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: local("TTFirsNeue-Bold"), url(../fonts/TTFirsNeue-Bold.woff2) format("woff2"), url(../fonts/TTFirsNeue-Bold.woff) format("woff")
}

:root {
  --color-black: #202020;
  --color-white: #ffffff;
  --color-orange: #ff6e30;
  --color-orange-hover: #bc572b;
  --color-orange-dark: #ce4307;
  --color-gray: #333333
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 400
}

.body-scroll {
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 15px 21px;
  border: 2px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block
}

@media (min-width:1024px) {
  .header__link:hover {
    color: var(--color-orange)
  }

  .header__link:focus-visible {
    background-color: var(--color-orange-hover)
  }

  .header__ic:hover svg {
    fill: var(--color-orange)
  }

  .header__ic:focus-visible svg {
    fill: var(--color-orange-hover)
  }

  .header__loop:hover svg {
    fill: var(--color-orange)
  }

  .header__loop:focus-visible svg {
    fill: var(--color-orange-hover)
  }

  .hero__link:hover {
    color: var(--color-orange)
  }

  .hero__link:focus-visible {
    background-color: var(--color-orange-hover)
  }

  .hero__btn:hover {
    background-color: var(--color-orange-hover)
  }

  .hero__btn:focus-visible {
    border-color: var(--color-orange-dark)
  }

  .about__btn:hover {
    background-color: var(--color-orange-hover)
  }

  .about__btn:focus-visible {
    border-color: var(--color-orange-dark)
  }

  .about__input:hover::-webkit-input-placeholder {
    color: var(--color-orange)
  }

  .about__input:hover::-moz-placeholder {
    color: var(--color-orange)
  }

  .about__input:hover:-ms-input-placeholder {
    color: var(--color-orange)
  }

  .about__input:hover::-ms-input-placeholder {
    color: var(--color-orange)
  }

  .about__input:hover::placeholder {
    color: var(--color-orange)
  }

  .about__input:focus-visible {
    border-color: var(--color-orange)
  }

  .projects__link:hover {
    color: var(--color-orange)
  }

  .projects__link:focus-visible {
    background-color: var(--color-orange-hover)
  }

  .projects__btn:hover {
    background-color: #ff6e30
  }

  .projects__btn:focus-visible {
    background-color: var(--color-orange-hover)
  }

  .header-form__btn:hover {
    background-color: var(--color-orange-dark)
  }

  .header-form__btn:focus-visible {
    background-color: var(--color-orange-dark)
  }

  .header-form__input:hover::-webkit-input-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:hover::-moz-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:hover:-ms-input-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:hover::-ms-input-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:hover::placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:focus-visible::-webkit-input-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:focus-visible::-moz-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:focus-visible:-ms-input-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:focus-visible::-ms-input-placeholder {
    color: var(--color-orange-hover)
  }

  .header-form__input:focus-visible::placeholder {
    color: var(--color-orange-hover)
  }

  .contacts__btn:hover {
    background-color: var(--color-orange-hover)
  }

  .contacts__btn:focus-visible {
    border-color: var(--color-orange-dark)
  }

  .contacts__tel:hover {
    color: var(--color-orange)
  }

  .contacts__tel:hover svg {
    fill: var(--color-orange)
  }

  .contacts__tel:focus-visible {
    color: var(--color-orange-hover)
  }

  .contacts__tel:focus-visible svg {
    fill: var(--color-orange-hover)
  }

  .contacts__close:hover {
    opacity: .6
  }

  .contacts__close:focus-visible {
    opacity: .6
  }

  .contacts__input:hover::-webkit-input-placeholder {
    color: var(--color-orange)
  }

  .contacts__input:hover::-moz-placeholder {
    color: var(--color-orange)
  }

  .contacts__input:hover:-ms-input-placeholder {
    color: var(--color-orange)
  }

  .contacts__input:hover::-ms-input-placeholder {
    color: var(--color-orange)
  }

  .contacts__input:hover::placeholder {
    color: var(--color-orange)
  }

  .contacts__input:focus-visible {
    border-color: var(--color-orange)
  }

  .contacts__textarea:hover::-webkit-input-placeholder {
    color: var(--color-orange)
  }

  .contacts__textarea:hover::-moz-placeholder {
    color: var(--color-orange)
  }

  .contacts__textarea:hover:-ms-input-placeholder {
    color: var(--color-orange)
  }

  .contacts__textarea:hover::-ms-input-placeholder {
    color: var(--color-orange)
  }

  .contacts__textarea:hover::placeholder {
    color: var(--color-orange)
  }

  .contacts__textarea:focus-visible {
    border-color: var(--color-orange)
  }

  .footer__icon:hover svg {
    fill: var(--color-orange)
  }

  .footer__icon:focus-visible svg {
    fill: var(--color-orange-hover)
  }
}

.header {
  position: relative;
  background-color: var(--color-black);
  padding: 24px 0;
  margin-bottom: 40px
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__nav {
  width: 100%;
  margin-left: 10.6%
}

.header__svg {
  fill: #ff6e30
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%
}

.header__item:not(:last-child) {
  margin-right: 10%
}

.header__link {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  padding: 0 2px 1px 2px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__link:active {
  color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6.7%
}

.header__icon:not(:last-child) {
  margin-right: 19px
}

.header__ic svg {
  fill: #cacaca;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__ic:active svg {
  fill: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header__loop {
  background-color: transparent;
  display: none
}

.header__loop:active svg {
  fill: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.header__svg {
  fill: #bcbcbc;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__svg320 {
  display: none;
  fill: var(--color-white)
}

.header__wrap {
  display: none
}

.header__burger {
  position: relative;
  width: 20px;
  height: 18px;
  background-color: transparent
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-white)
}

.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: var(--color-white)
}

.header__line {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--color-white);
  width: 100%;
  height: 3px
}

.header__btn {
  display: none
}

.header__tel {
  display: none
}

.header-form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 99%;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--color-black);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__input {
  width: 100%;
  height: 100%;
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  background-color: transparent;
  padding: 0 15px
}

.header-form__input::-webkit-input-placeholder {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__input::-moz-placeholder {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__input:-ms-input-placeholder {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__input::-ms-input-placeholder {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__input::placeholder {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__btn {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 14px 32px;
  margin-right: 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header-form__btn:active {
  background-color: var(--color-orange-dark)
}

.search-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

@media (max-width:1350px) {
  .header {
    padding: 26px 0;
    margin-bottom: 34px
  }

  .header__container {
    padding: 0 31px
  }

  .header__icons {
    display: none
  }

  .header__loop {
    display: block;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-left: auto
  }

  .header__nav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 8.3%
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }

  .header__item:not(:last-child) {
    margin-right: 4.2%
  }
}

@media (max-width:935px) {
  .header {
    padding-bottom: 0
  }

  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 0;
    -ms-grid-rows: auto 25px auto;
    grid-template-areas: "logo loop""nav nav";
    padding: 0
  }

  .header__logo {
    grid-area: logo;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 28px
  }

  .header__loop {
    grid-area: loop;
    margin-right: 28px
  }

  .header__nav {
    position: relative;
    grid-area: nav;
    margin-left: 0;
    z-index: 1;
    padding: 12px 28px 12px 28px;
    background-color: #4a4a4a
  }

  .header__item:not(:last-child) {
    margin-right: 9.3%
  }
}

@media (max-width:780px) {
  .header {
    position: relative
  }

  .header__container {
    grid-template-areas: "logo loop""burger burger "
  }

  .header__wrap {
    grid-area: burger;
    padding: 12px 28px 12px 28px;
    background-color: #4a4a4a
  }

  .header__wrap {
    display: block
  }

  .header__nav {
    position: absolute;
    top: 63%;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 20px;
    background-color: #202020;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }

  .header__list {
    margin-top: 30px
  }

  .header__btn {
    display: block
  }

  .header__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: TTFirsNeue;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-orange)
  }

  .header__tel svg {
    display: block;
    margin-right: 5px
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 33px
  }

  .header__item:nth-child(6) {
    margin-bottom: 190px
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 150px
  }

  .header__btn {
    background-color: transparent;
    margin-bottom: 15px
  }

  .nav-active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible
  }

  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  .header__loop {
    -ms-grid-row: 1;
    -ms-grid-column: 2
  }
}

@media (max-width:935px) {
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  .header__loop {
    -ms-grid-row: 1;
    -ms-grid-column: 3
  }

  .header__nav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }
}

@media (max-width:780px) {
  .header__wrap {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2
  }
}

@media (max-width:500px) {
  .header {
    margin-bottom: 29px
  }

  .header__logo {
    margin-left: 21px
  }

  .header__loop {
    margin-right: 21px
  }

  .header__nav {
    bottom: -5px
  }

  .header__wrap {
    padding-right: 21px;
    padding-left: 21px
  }

  .header__svg {
    display: none
  }

  .header__svg320 {
    display: block
  }

  .header-form__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 22px
  }
}

.hero {
  margin-bottom: 70px
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px
}

.no-webp .hero__left {
  background-image: url(../img/hero.png)
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 58px;
  padding-left: 59px;
  padding-right: 20px
}

.hero__link {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  background-color: #333;
  padding: 7px 15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.hero__link:active {
  color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.hero__descr {
  width: 79%
}

.hero__span {
  display: inline-block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  margin-bottom: 4px
}

.hero__title {
  font-family: TTFirsNeue;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  margin-bottom: 14px;
  color: var(--color-white)
}

.hero__btn {
  padding: 15px 21px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.hero__btn:active {
  background-color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.hero__subtitle {
  font-family: TTFirsNeue;
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: var(--color-black)
}

.hero__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 300px) 30px minmax(100px, 300px);
  grid-template-columns: repeat(2, minmax(100px, 300px));
  -ms-grid-rows: auto 27px auto 27px auto;
  grid-template-areas: "item1 item1""item2 item2""item3 item4";
  gap: 27px 30px;
  height: 100%
}

.hero__item img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.hero__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item1;
  margin-top: -5px;
  margin-bottom: -3px
}

.hero__item:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item2
}

.hero__item:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item3
}

.hero__item:nth-child(4) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: item4
}

@media (max-width:1320px) {
  .hero {
    margin-bottom: 67px
  }

  .hero__container {
    padding: 0 31px
  }

  .hero__descr {
    width: 100%
  }

  .hero__title {
    font-size: 34px;
    margin-bottom: 18px
  }

  .no-webp .hero__left {
    background-image: url(../img/hero1024.png)
  }

  .hero__left {
    padding-bottom: 28px;
    padding-left: 29px
  }

  .hero__span {
    margin-bottom: 8px
  }

  .hero__list {
    gap: 29px 30px
  }

  .hero__item:nth-child(1) {
    margin-top: 0;
    margin-bottom: -3px
  }
}

@media (max-width:935px) {
  .hero {
    margin-bottom: 70px
  }

  .hero__container {
    padding: 0 28px
  }
}

@media (max-width:768px) {
  .hero__subtitle {
    font-size: 22px;
    line-height: 104%
  }

  .hero__span {
    margin-bottom: 16px
  }

  .hero__title {
    width: 82%;
    line-height: 90%;
    margin-bottom: 20px
  }

  .hero__item:nth-child(1) {
    margin-top: 0;
    margin-bottom: -9px
  }

  .no-webp .hero__left {
    background-image: url(../img/hero768.png)
  }

  .hero__list {
    gap: 27px 30px
  }
}

@media (max-width:650px) {
  .hero__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 35px auto;
    grid-template-areas: "left""right";
    gap: 35px 0
  }

  .hero__left {
    width: 100%;
    grid-area: left;
    min-height: 422px
  }

  .hero__title {
    width: 100%
  }

  .hero__list {
    width: 100%;
    grid-area: right
  }
}

@media (max-width:650px) {
  .hero__left {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  .hero__list {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
}

@media (max-width:500px) {
  .hero {
    margin-bottom: 52px
  }

  .hero__container {
    padding: 0 21px
  }

  .hero__title {
    font-size: 24px;
    line-height: 110%;
    width: 74%;
    margin-bottom: 12px
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 104%
  }

  .no-webp .hero__left {
    background-image: url(../img/hero320.png)
  }

  .hero__left {
    padding-bottom: 29px
  }

  .hero__link {
    top: 6px;
    right: 6px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 6px
  }

  .hero__span {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px
  }

  .hero__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 21px
  }
}

.webp .hero__left {
  background-image: url(../img/hero.webp)
}

@media (max-width:1320px) {
  .webp .hero__left {
    background-image: url(../img/hero1024.webp)
  }
}

@media (max-width:768px) {
  .webp .hero__left {
    background-image: url(../img/hero768.webp)
  }
}

@media (max-width:500px) {
  .webp .hero__left {
    background-image: url(../img/hero320.webp)
  }
}

.about {
  background-color: #202020;
  margin-bottom: 65px
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  padding-top: 30px
}

.about__left {
  width: 49%;
  margin-right: 28px
}

.about__title {
  font-family: TTFirsNeue;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--color-white);
  margin-bottom: 6px
}

.about__text {
  width: 99%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #cacaca
}

.no-webp .about__right {
  background-image: url(../img/about.png)
}

.about__right {
  width: 49%;
  padding-top: 313px;
  background-repeat: no-repeat;
  background-position: left 33px
}

.about__subtitle {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--color-white);
  margin-bottom: 15px
}

.about__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.about__input {
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  background-color: #4a4a4a;
  padding: 15px 24px;
  border: 1px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  background-color: #4a4a4a;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__input::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  background-color: #4a4a4a;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  background-color: #4a4a4a;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  background-color: #4a4a4a;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  background-color: #4a4a4a;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__btn {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.about__btn:active {
  background-color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.label {
  position: relative;
  width: 76%;
  margin-right: 4.1%
}

.just-validate-error-label {
  position: absolute;
  top: -15px;
  left: 0
}

@media (max-width:1320px) {
  .about {
    margin-bottom: 70px
  }

  .about__container {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 58px
  }

  .about__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .about__btn {
    -ms-flex-item-align: start;
    align-self: flex-start
  }

  .no-webp .about__right {
    background-image: url(../img/about2.png)
  }

  .about__right {
    padding-top: 389px
  }

  .label {
    width: 73.5%;
    margin-right: 0;
    margin-bottom: 20px
  }
}

@media (max-width:935px) {
  .about__container {
    padding-left: 28px;
    padding-right: 28px
  }

  .no-webp .about__right {
    background-image: url(../img/about3.png)
  }

  .about__right {
    padding-top: 626px
  }

  .label {
    width: 100%
  }
}

@media (max-width:651px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .about__left {
    width: 100%;
    margin-right: 0
  }

  .about__right {
    width: 100%;
    background-position: center 33px
  }
}

@media (max-width:500px) {
  .about {
    margin-bottom: 51px
  }

  .about__container {
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 60px
  }

  .about__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 6px
  }

  .about__text {
    width: 100%;
    font-size: 14px;
    line-height: 25px
  }

  .about__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-left: -2px;
    margin-bottom: 12px
  }

  .about__left {
    margin-bottom: 23px
  }

  .no-webp .about__right {
    background-image: url(../img/about4.png)
  }

  .about__right {
    padding-top: 303px;
    background-position: top
  }

  .about__input {
    padding: 11px 21px
  }

  .about__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 9px 21px
  }
}

.webp .about__right {
  background-image: url(../img/about.webp)
}

@media (max-width:1320px) {
  .webp .about__right {
    background-image: url(../img/about2.webp)
  }
}

@media (max-width:935px) {
  .webp .about__right {
    background-image: url(../img/about3.webp)
  }
}

@media (max-width:500px) {
  .webp .about__right {
    background-image: url(../img/about4.webp)
  }
}

.projects {
  margin-bottom: 66px
}

.projects__title {
  font-family: TTFirsNeue;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--color-black);
  margin-bottom: 12px
}

.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px) 30px minmax(0, 85.5px);
  grid-template-columns: repeat(12, minmax(0, 85.5px));
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: "item1 item1 item2 item2 item3 item3 item4 item4 item4 item4 item4 item4""item5 item5 item5 item5 item5 item5 item6 item6 item6 item7 item7 item7";
  gap: 30px
}

.projects__item {
  position: relative
}

.projects__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item1
}

.projects__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: item2
}

.projects__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: item3
}

.no-webp .projects .big-cart-one {
  background-image: url(../img/project4.png)
}

.projects .big-cart-one {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
  -ms-grid-column-span: 11;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item4;
  padding: 23px 25px 32px 30px
}

.projects .big-cart-one .projects__svg {
  fill: var(--color-white)
}

.projects .big-cart-one .projects__data {
  color: var(--color-white)
}

.projects .big-cart-one .projects__text {
  width: 51%;
  color: var(--color-white)
}

.no-webp .projects .big-cart-two {
  background-image: url(../img/project5.png)
}

.projects .big-cart-two {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item5;
  padding: 23px 25px 32px 30px
}

.projects .big-cart-two .projects__svg {
  fill: var(--color-white)
}

.projects .big-cart-two .projects__data {
  color: var(--color-white)
}

.projects .big-cart-two .projects__text {
  width: 60%;
  color: var(--color-white)
}

.projects__item:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
  -ms-grid-column-span: 5;
  grid-area: item6
}

.projects__item:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
  -ms-grid-column-span: 5;
  grid-area: item7
}

.projects__link {
  position: absolute;
  top: 7px;
  right: 6px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  background-color: #333;
  padding: 7px 15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.projects__link:active {
  color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.projects__img {
  display: block;
  width: 100%;
  margin-bottom: 18px
}

.projects__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
  margin-bottom: 11px
}

.projects__span {
  display: none
}

.projects__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #999
}

.projects__svg {
  fill: #999;
  margin-right: 4px
}

.projects__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%
}

.projects__subtitle {
  width: 47%;
  font-family: TTFirsNeue;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-white);
  margin-bottom: 7px
}

.projects__btn {
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  padding: 13px 20px;
  border: 2px solid var(--color-orange);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.projects__btn:active {
  background-color: var(--color-orange-dark);
  border-color: var(--color-orange-dark)
}

.text-display {
  display: block
}

@media (max-width:1320px) {
  .projects__container {
    padding: 0 31px
  }

  .projects__list {
    -ms-grid-columns: minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr) 30px minmax(0, 1fr);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    -ms-grid-rows: auto 23px auto 23px auto;
    grid-template-areas: "item1 item1 item2 item2 item3 item3 item3 item3""item4 item4 item4 item4 item4 item6 item6 item6""item7 item7 item7 item5 item5 item5 item5 item5";
    gap: 23px 30px
  }

  .projects__item:nth-child(3) .projects__span {
    width: 95%
  }

  .no-webp .projects .big-cart-one {
    background-image: url(../img/project4-1024.png)
  }

  .projects .big-cart-one {
    padding: 32px 25px 38px 30px
  }

  .projects .big-cart-one .projects__text {
    width: 55%
  }

  .no-webp .projects .big-cart-two {
    background-image: url(../img/project5-1024.png)
  }

  .projects .big-cart-two {
    padding: 32px 25px 31px 30px
  }

  .projects .big-cart-two .projects__text {
    width: 82%
  }

  .projects__text {
    margin-bottom: 18px
  }

  .projects__span {
    display: block;
    width: 85%
  }

  .text-display {
    display: none
  }

  .projects__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }

  .projects__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3
  }

  .projects__item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 7
  }

  .projects .big-cart-one {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9
  }

  .projects .big-cart-two {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
    -ms-grid-column-span: 9
  }

  .projects__item:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
    -ms-grid-column-span: 5
  }

  .projects__item:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5
  }
}

@media (max-width:935px) {
  .projects {
    margin-bottom: 68px
  }

  .projects__container {
    padding: 0 28px
  }
}

@media (max-width:768px) {
  .projects__list {
    -ms-grid-columns: minmax(0, 1fr) 29px minmax(0, 1fr) 29px minmax(0, 1fr) 29px minmax(0, 1fr) 29px minmax(0, 1fr) 29px minmax(0, 1fr);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    -ms-grid-rows: auto 22px auto 22px auto 22px auto;
    grid-template-areas: "item1 item1 item2 item2 item3 item3""item4 item4 item4 item4 item4 item4""item6 item6 item6 item7 item7 item7""item5 item5 item5 item5 item5 item5";
    gap: 22px 29px
  }

  .projects__span {
    display: none
  }

  .projects__text {
    margin-bottom: 14px
  }

  .projects__subtitle {
    width: 43%
  }

  .no-webp .projects .big-cart-one {
    background-image: url(../img/project4-768.png)
  }

  .projects .big-cart-one {
    padding-bottom: 33px;
    margin-bottom: 9px
  }

  .projects .big-cart-one .projects__text {
    width: 45%;
    margin-bottom: 44px
  }

  .no-webp .projects .big-cart-two {
    background-image: url(../img/project5-768.png)
  }

  .projects .big-cart-two {
    margin-top: 4px
  }

  .projects .big-cart-two .projects__text {
    width: 66%;
    margin-bottom: 91px
  }

  .text-display {
    display: block;
    width: 100%
  }

  .projects__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }

  .projects__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3
  }

  .projects__item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3
  }

  .projects .big-cart-one {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11
  }

  .projects .big-cart-two {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11
  }

  .projects__item:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5
  }

  .projects__item:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5
  }
}

@media (max-width:500px) {
  .projects {
    margin-bottom: 49px
  }

  .projects__container {
    padding: 0 21px
  }

  .projects__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px
  }

  .projects__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "item1""item2""item3""item4""item6""item7""item5"
  }

  .projects__item:nth-child(3) .projects__span {
    width: 100%
  }

  .no-webp .projects .big-cart-one {
    background-image: url(../img/project4-320.png)
  }

  .projects .big-cart-one {
    padding-bottom: 31px;
    padding-top: 199px
  }

  .projects .big-cart-one .projects__data {
    margin-bottom: 7px
  }

  .projects .big-cart-one .projects__text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px
  }

  .no-webp .projects .big-cart-two {
    background-image: url(../img/project5-320.png)
  }

  .projects .big-cart-two {
    padding-top: 196px
  }

  .projects .big-cart-two .projects__data {
    margin-bottom: 7px
  }

  .projects .big-cart-two .projects__subtitle {
    margin-bottom: 8px
  }

  .projects .big-cart-two .projects__text {
    width: 70%;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px
  }

  .projects__link {
    top: 6px;
    right: 6px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 14px
  }

  .projects__text {
    margin-bottom: 11px
  }

  .projects__subtitle {
    margin-bottom: 10px
  }

  .projects__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 9px 18px
  }

  .projects__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }

  .projects__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }

  .projects__item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }

  .projects .big-cart-one {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }

  .projects .big-cart-two {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }

  .projects__item:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }

  .projects__item:nth-child(7) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }
}

.webp .projects .big-cart-one {
  background-image: url(../img/project4.webp)
}

.webp .projects .big-cart-two {
  background-image: url(../img/project5.webp)
}

@media (max-width:1320px) {
  .webp .projects .big-cart-one {
    background-image: url(../img/project4-1024.webp)
  }
}

@media (max-width:1320px) {
  .webp .projects .big-cart-two {
    background-image: url(../img/project5-1024.webp)
  }
}

@media (max-width:768px) {
  .webp .projects .big-cart-one {
    background-image: url(../img/project4-768.webp)
  }
}

@media (max-width:768px) {
  .webp .projects .big-cart-two {
    background-image: url(../img/project5-768.webp)
  }
}

@media (max-width:500px) {
  .webp .projects .big-cart-one {
    background-image: url(../img/project4-320.webp)
  }
}

@media (max-width:500px) {
  .webp .projects .big-cart-two {
    background-image: url(../img/project5-320.webp)
  }
}

.contacts {
  margin-bottom: 69px
}

.contacts__title {
  font-family: TTFirsNeue;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--color-black);
  margin-bottom: 16px
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.contacts__map {
  position: relative;
  width: 65.5%;
  margin-right: 3%;
  margin-top: 6px;
  overflow: hidden
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 48.6%;
  height: 100%;
  background-color: rgba(32, 32, 32, .85);
  padding: 41px 20px 20px 60px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1
}

.contacts__studio {
  display: inline-block;
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--color-white);
  margin-bottom: 4px
}

.contacts__address {
  width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #cacaca;
  margin-bottom: 2px
}

.contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__tel:active {
  color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__tel:active svg {
  fill: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.contacts__svg {
  fill: var(--color-white);
  margin-right: 5px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__close {
  position: absolute;
  top: 21px;
  right: 21px;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__open {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 32%
}

.contacts__subtitle {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--color-black);
  margin-bottom: 5px
}

.contacts__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
  margin-bottom: 14px
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.contacts .label {
  width: 100%
}

.contacts__input {
  width: 100%;
  padding: 15px 23px 16px 23px;
  background-color: #e9e9e9;
  border: 1px solid transparent;
  margin-bottom: 22px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__input::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__input::-moz-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__input:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__input::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__textarea {
  min-height: 150px;
  resize: vertical;
  background-color: #e9e9e9;
  border: 1px solid transparent;
  padding: 15px 23px 16px 23px;
  margin-bottom: 18px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__textarea::-moz-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__textarea::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__btn {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 13px 19px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contacts__btn:active {
  background-color: var(--color-orange-dark);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.info-disabled {
  -webkit-transform: translateX(-380px);
  -ms-transform: translateX(-380px);
  transform: translateX(-380px)
}

.open-btn-active {
  opacity: 1;
  pointer-events: visible;
  visibility: visible
}

.close-btn-disabled {
  opacity: 0;
  pointer-events: none;
  visibility: hidden
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1)
}

ymaps .ymaps-2-1-79-controls__toolbar_left {
  display: none
}

ymaps .ymaps-2-1-79-map-copyrights-promo {
  display: none
}

ymaps .ymaps-2-1-79-controls__toolbar_right {
  display: none
}

ymaps .ymaps-2-1-79-controls__bottom {
  display: none
}

ymaps .ymaps-2-1-79-copyright .ymaps-2-1-79-copyright_logo_no {
  display: none
}

ymaps .ymaps-2-1-79-copyright__link {
  display: none
}

ymaps .ymaps-2-1-79-controls__control {
  display: none
}

ymaps .ymaps-2-1-79-copyright_logo_no {
  display: none
}

@media (max-width:1320px) {
  .contacts__container {
    padding: 0 31px
  }

  .contacts__map {
    width: 61.4%
  }

  .contacts__info {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 157px;
    padding: 20px 20px 20px 30px
  }

  .contacts__address {
    width: 76%
  }

  .contacts__right {
    width: 35.6%
  }

  .info-disabled {
    -webkit-transform: translateY(138px);
    -ms-transform: translateY(138px);
    transform: translateY(138px)
  }

  .contacts__open {
    width: 100%;
    height: 30px
  }
}

@media (max-width:935px) {
  .contacts__container {
    padding: 0 28px
  }

  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .contacts__map {
    width: 100%;
    min-height: 460px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-bottom: 24px
  }

  .contacts__right {
    width: 65.6%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
}

@media (max-width:500px) {
  .contacts {
    position: relative;
    margin-bottom: 48px
  }

  .contacts__container {
    width: 100%;
    padding: 0
  }

  .contacts__title {
    font-size: 18px;
    line-height: 23px;
    padding: 0 21px
  }

  .contacts__map {
    padding-bottom: 11px;
    min-height: 463px
  }

  .contacts__info {
    padding: 34px 20px 20px 18px
  }

  .contacts__studio {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px
  }

  .contacts__address {
    width: 95%;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px
  }

  .contacts__tel {
    font-size: 14px;
    line-height: 18px
  }

  .contacts__right {
    width: 100%;
    padding: 0 21px
  }

  .contacts__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px
  }

  .contacts__text {
    font-size: 14px;
    line-height: 18px
  }

  .contacts__input {
    padding: 12px 23px 12px 23px;
    margin-bottom: 18px
  }

  .contacts__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__input::-moz-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__input::placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__textarea {
    margin-bottom: 21px
  }

  .contacts__textarea::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__textarea::-moz-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__textarea::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__textarea::placeholder {
    font-size: 14px;
    line-height: 16px
  }

  .contacts__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px 11px 20px
  }
}

.footer {
  background-color: var(--color-black);
  padding: 26px 0
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.footer__logo {
  display: inline-block;
  margin-bottom: 6px
}

.footer__copyright {
  font-family: TTFirsNeue;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #e9e9e9
}

.footer__blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 29%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #cacaca;
  margin-left: 15.8%
}

.footer__span {
  color: #666
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto
}

.footer__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #cacaca;
  margin-bottom: 7px
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.footer__item:not(:last-child) {
  margin-right: 21px
}

.footer__icon svg {
  fill: #cacaca;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.footer__icon:active svg {
  fill: var(--color-orange-dark)
}

@media (max-width:1320px) {
  .footer {
    padding: 28px 0
  }

  .footer__container {
    padding: 0 31px
  }

  .footer__blockquote {
    width: 38%;
    margin-top: -3px;
    margin-left: 14%
  }

  .footer__right {
    margin-top: -3px
  }
}

@media (max-width:935px) {
  .footer__container {
    padding: 0 27px
  }

  .footer__blockquote {
    display: none
  }
}

@media (max-width:500px) {
  .footer {
    padding-top: 34px;
    padding-bottom: 0
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0
  }

  .footer__left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #4a4a4a;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 14px 0 13px 0
  }

  .footer__logo {
    margin-bottom: 4px
  }

  .footer__copyright {
    font-size: 10px;
    line-height: 13px
  }

  .footer__right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
    margin-bottom: 30px
  }
}