.header {
  position: relative;
  z-index: 100;
  padding: 10px 0;
  background-color: #F5F5F5;
}
@media (max-width: 991px) {
  .header {
    padding: 15px 0;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    z-index: 100;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
  }
}
@media (max-width: 991px) and (max-width: 600px) {
  .header__menu {
    padding: 15px;
  }
}
.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
@media (max-width: 991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    left: 30px;
  }
}
@media (max-width: 600px) {
  .header__exit-menu {
    top: 15px;
    left: 15px;
  }
}
.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0A63E8;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #0A63E8;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__wrapper-logo {
  max-width: 142px;
  height: 42px;
}
@media (max-width: 500px) {
  .header__wrapper-logo {
    max-width: 115px;
    height: 32px;
  }
}
.header__logo {
  display: block;
  width: 100%;
  height: 100%;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.header__menu-logo {
  display: none;
  max-width: 207px;
  height: 52px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 150px;
}
@media (max-width: 991px) {
  .header__menu-logo {
    display: block;
  }
}
@media (max-width: 600px) {
  .header__menu-logo {
    max-width: 162px;
    height: 32px;
  }
}
.header__menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
@media (max-width: 600px) {
  .header__menu-icon {
    width: 20px;
    height: 20px;
  }
}
.header__menu-icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 97px;
}
@media (max-width: 1110px) {
  .header__right {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .header__right {
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .header__right {
    gap: 0;
  }
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
}
.header__info_menu {
  display: none;
}
@media (max-width: 991px) {
  .header__info_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__info_menu .header__geo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__info_menu .header__phone {
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) and (max-width: 600px) {
  .header__info_menu .header__phone {
    display: block;
  }
}
.header__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  .header__geo {
    display: none;
  }
}
@media (max-width: 600px) {
  .header__geo {
    gap: 5px;
  }
}
.header__icon {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
@media (max-width: 600px) {
  .header__icon {
    width: 20px;
    height: 27px;
  }
}
.header__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.header__phone {
  width: 100%;
}
@media (max-width: 600px) {
  .header__phone {
    display: none;
  }
}
.header__phone-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151515;
  width: 100%;
  gap: 15px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .header__phone-link {
    gap: 5px;
  }
}
@media (any-hover: hover) {
  .header__phone-link:hover {
    color: var(--hover);
  }
}
.header__phone-link:active {
  color: var(--active);
}
.header__phone-link_menu {
  font-size: 22px;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .header__phone-link_menu {
    font-size: 15px;
    gap: 5px;
  }
}
.header__call {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
  padding: 5px 15px;
  background: -o-linear-gradient(358.51deg, #FF404A -1.06%, #0A63E8 107.42%, #821ABD 113.49%, #4A11EC 134.57%);
  background: linear-gradient(91.49deg, #FF404A -1.06%, #0A63E8 107.42%, #821ABD 113.49%, #4A11EC 134.57%);
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
@media (max-width: 600px) {
  .header__call {
    display: none;
  }
}
@media (any-hover: hover) {
  .header__call:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }
}
.header__call:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.header__call_menu {
  font-size: 22px;
  padding: 20px 40px;
}
@media (max-width: 600px) {
  .header__call_menu {
    padding: 17px 30px;
    font-size: 14px;
    display: block;
    padding: 12px 30px;
  }
}
.header__call-icon {
  display: block;
  width: 18px;
  height: 18px;
}
.header__call-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.header__address {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: var(--main);
}
.header__address_menu {
  font-size: 22px;
  line-height: 28px;
}
@media (max-width: 600px) {
  .header__address_menu {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .nav {
    margin-bottom: 150px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 55px;
}
@media (max-width: 1110px) {
  .nav__list {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (max-width: 991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.nav__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--main);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .nav__link {
    font-size: 22px;
    line-height: 22px;
  }
}
@media (max-width: 600px) {
  .nav__link {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--hover);
  }
}
.nav__link:active {
  color: var(--active);
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
@media (max-width: 991px) {
  .burger {
    display: block;
  }
}
.burger::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0A63E8;
}
.burger::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0A63E8;
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}