:root {
  --main: #151515;
  --white: #ffffff;
  --hover: #0A63E8;
  --active: #084db4;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

body {
  background-color: #F5F5F5;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "sfuidisplay";
  background-color: #F5F5F5;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.link-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0A63E8;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .link-up {
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 600px) {
  .link-up {
    bottom: 10px;
    right: 10px;
  }
}
.link-up span {
  position: relative;
  width: 30px;
  height: 30px;
}
@media (max-width: 991px) {
  .link-up span {
    width: 20px;
    height: 20px;
  }
}
.link-up span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--white);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.link-up span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 14px;
  height: 14px;
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
@media (max-width: 991px) {
  .link-up span::after {
    width: 11px;
    height: 11px;
  }
}

.link-up-active {
  opacity: 1;
  visibility: visible;
}

.inner {
  position: fixed;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 219;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
}

.inner-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}