.block-10 {
  overflow: hidden;
  padding: 100px 0 140px 0;
  background-color: #f8f7f8;
}
@media (max-width: 1160px) {
  .block-10 {
    padding-top: calc(50px + 50 * ((100vw - 320px) / 1600));
    padding-bottom: calc(50px + 90 * ((100vw - 320px) / 1600));
  }
}
.block-10__title {
  font-weight: 700;
  font-style: normal;
  line-height: calc(32px + 18 * ((100vw - 320px) / 1600));
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 10px auto;
}
@media (max-width: 767px) {
  .block-10__title {
    font-size: calc(22px + 30.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-10__title {
    font-size: calc(22px + 18 * (100vw / 1920));
  }
}
.block-10__top-text {
  font-weight: 500;
  font-style: normal;
  line-height: calc(26px + 8 * ((100vw - 320px) / 1600));
  color: var(--black);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: calc(50px + 40 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .block-10__top-text {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-10__top-text {
    font-size: calc(16px + 8 * (100vw / 1920));
  }
}
.block-10__subtitle {
  font-weight: 700;
  font-style: normal;
  line-height: calc(32px + 18 * ((100vw - 320px) / 1600));
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .block-10__subtitle {
    font-size: calc(22px + 30.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-10__subtitle {
    font-size: calc(22px + 18 * (100vw / 1920));
  }
}

.block-10-top-slider {
  margin-bottom: calc(60px + 40 * ((100vw - 320px) / 1600));
}
.block-10-top-slider__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr calc(20px + 20 * ((100vw - 320px) / 1600)) 1fr calc(20px + 20 * ((100vw - 320px) / 1600)) 1fr;
  grid-template: auto/repeat(3, 1fr);
  -webkit-column-gap: calc(20px + 20 * ((100vw - 320px) / 1600));
  -moz-column-gap: calc(20px + 20 * ((100vw - 320px) / 1600));
  column-gap: calc(20px + 20 * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .block-10-top-slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
.block-10-top-slider__slide {
  text-align: center;
}
.block-10-top-slider__slide img {
  max-width: 100%;
}
.block-10-top-slider__control {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  position: relative;
}
@media (max-width: 1024px) {
  .block-10-top-slider__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.block-10-bottom-slider {
  margin: 0 -20px;
  padding: 0 20px;
  padding-top: 100px;
}
.block-10-bottom-slider__wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 50px;
}
.block-10-bottom-slider__slide {
  height: auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.block-10-bottom-slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  position: relative;
}
.block-10-bottom-slider__body-cart {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: var(--white);
  border-radius: 25px;
  padding: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.block-10-bottom-slider__body-cart::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -46px;
  width: 121px;
  height: 121px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #f8f7f8;
  z-index: 1;
}
.block-10-bottom-slider__cart-icon {
  position: relative;
  z-index: 2;
  width: 101px;
  height: 101px;
  margin-bottom: 50px;
  margin-top: -65px;
}
.block-10-bottom-slider__cart-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media (max-width: 1300px) {
  .block-10-bottom-slider__cart-icon {
    margin-top: -60px;
  }
}
@media (max-width: 768px) {
  .block-10-bottom-slider__cart-icon {
    margin-top: -55px;
  }
}
.block-10-bottom-slider__cart-name {
  font-style: normal;
  font-weight: 700;
  line-height: calc(25px + 3 * ((100vw - 320px) / 1600));
  color: var(--black);
  margin-bottom: 5px;
  text-align: center;
}
@media (max-width: 767px) {
  .block-10-bottom-slider__cart-name {
    font-size: calc(15px + 5.1 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-10-bottom-slider__cart-name {
    font-size: calc(15px + 3 * (100vw / 1920));
  }
}
.block-10-bottom-slider__cart-data {
  font-style: normal;
  font-weight: 400;
  line-height: calc(25px + 1 * ((100vw - 320px) / 1600));
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  text-align: center;
}
@media (max-width: 767px) {
  .block-10-bottom-slider__cart-data {
    font-size: calc(15px + 1.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-10-bottom-slider__cart-data {
    font-size: calc(15px + 1 * (100vw / 1920));
  }
}
.block-10-bottom-slider__review {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-style: normal;
  font-weight: 400;
  line-height: calc(25px + 3 * ((100vw - 320px) / 1600));
  color: var(--black);
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .block-10-bottom-slider__review {
    font-size: calc(15px + 5.1 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-10-bottom-slider__review {
    font-size: calc(15px + 3 * (100vw / 1920));
  }
}
.block-10-bottom-slider__wrapper-social {
  text-align: center;
}
.block-10-bottom-slider__social-icon {
  display: inline-block;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .block-10-bottom-slider__social-icon:hover {
    opacity: 0.5;
  }
}
.block-10-bottom-slider__social-icon:active {
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .block-10-bottom-slider__control {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.block-10-bottom-slider__prev {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffa963;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.block-10-bottom-slider__prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--white);
}
.block-10-bottom-slider__prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-left: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
}
@media (any-hover: hover) {
  .block-10-bottom-slider__prev:hover {
    background-color: #f58225;
  }
}
.block-10-bottom-slider__prev:active {
  background-color: #f58225;
}
@media (max-width: 1024px) {
  .block-10-bottom-slider__prev {
    display: none;
  }
}
.block-10-bottom-slider__next {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffa963;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.block-10-bottom-slider__next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  border-radius: 25px;
  background-color: var(--white);
}
.block-10-bottom-slider__next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-right: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
}
@media (any-hover: hover) {
  .block-10-bottom-slider__next:hover {
    background-color: #f58225;
  }
}
.block-10-bottom-slider__next:active {
  background-color: #f58225;
}
@media (max-width: 1024px) {
  .block-10-bottom-slider__next {
    display: none;
  }
}

.swiper-pagination-bullet {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #ffa963;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 5s ease-in-out;
  -o-transition: background-color 5s ease-in-out;
  transition: background-color 5s ease-in-out;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.swiper-pagination-bullet-active::before {
  background-color: #fd7200;
}