.no-webp .block-8 {
  background-image: url(../../img/8/background.png); }
.block-8 {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(50px + 100 * ((100vw - 320px) / 1600));
}
@media (max-width: 1235px) {
  .block-8 {
    padding-top: calc(50px + 50 * ((100vw - 320px) / 1600));
  }
}
.block-8__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1595px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 986px) {
  .block-8__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.block-8__images {
  display: none;
}
@media (max-width: 986px) {
  .block-8__images {
    display: block;
  }
  .block-8__images img {
    max-width: 100%;
  }
}
.block-8__left-image {
  position: relative;
  right: -10%;
  bottom: -180px;
}
@media (max-width: 1400px) {
  .block-8__left-image {
    bottom: -145px;
  }
}
@media (max-width: 1135px) {
  .block-8__left-image {
    right: -4%;
    bottom: -155px;
  }
}
@media (max-width: 986px) {
  .block-8__left-image {
    display: none;
  }
}
.block-8__left-image img {
  max-width: 100%;
}
.block-8__right-image {
  position: relative;
  bottom: -97px;
}
.block-8__right-image img {
  max-width: 100%;
}
@media (max-width: 1400px) {
  .block-8__right-image {
    bottom: -79px;
  }
}
@media (max-width: 1135px) {
  .block-8__right-image {
    bottom: -116px;
  }
}
@media (max-width: 986px) {
  .block-8__right-image {
    display: none;
  }
}
.block-8__body {
  max-width: 500px;
  padding-bottom: calc(50px + 90 * ((100vw - 320px) / 1600));
}
@media (max-width: 1245px) {
  .block-8__body {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
  }
}
.block-8__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-style: normal;
  line-height: calc(40px + 25 * ((100vw - 320px) / 1600));
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .block-8__title {
    font-size: calc(30px + 51 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-8__title {
    font-size: calc(30px + 30 * (100vw / 1920));
  }
}
.block-8__title img {
  display: inline-block;
  margin-bottom: 10px;
}
.block-8__text {
  width: 80%;
  line-height: calc(21px + 7 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .block-8__text {
    font-size: calc(14px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-8__text {
    font-size: calc(14px + 7 * (100vw / 1920));
  }
}
.block-8__text span {
  font-weight: 700;
}
.block-8__wrapper-link {
  text-align: center;
}
.block-8__link {
  display: inline-block;
  line-height: calc(20px + 4 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 700;
  color: var(--black);
  background-color: var(--gold);
  border-radius: 5px;
  text-transform: uppercase;
  padding-top: calc(10px + 5 * ((100vw - 320px) / 1600));
  padding-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 20 * ((100vw - 320px) / 1600));
  padding-right: calc(20px + 20 * ((100vw - 320px) / 1600));
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .block-8__link {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-8__link {
    font-size: calc(12px + 4 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .block-8__link {
    font-size: 16px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media (any-hover: hover) {
  .block-8__link:hover {
    -webkit-box-shadow: 0 5px 10px transparent;
    box-shadow: 0 5px 10px transparent;
  }
}
.block-8__link:active {
  -webkit-box-shadow: 0 5px 10px transparent;
  box-shadow: 0 5px 10px transparent;
}
.webp .block-8 { background-image: url(../../img/8/background.webp); }