.hero {
  position: relative;
  min-height: 800px;
  overflow: hidden;
  margin-top: -180px;
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
  z-index: 1;
}
.hero__swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-animation-name: resize;
  animation-name: resize;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.hero__descr {
  position: relative;
  width: 675px;
  padding: 240px 3% 80px 3%;
  z-index: 2;
}
.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--colorWhite);
  margin-bottom: 20px;
}
.hero__text {
  width: 80%;
  color: var(--colorWhite);
  margin-bottom: 60px;
}
.hero__btn {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--colorWhite);
  background-color: var(--colorPurple);
  border-radius: 100px;
  padding: 23px 35px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.hero__btn:active {
  background-color: var(--colorPurpleActive);
}

.hero-slide-one {
  background-image: url(../../img/hero-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-slide-two {
  background-image: url(../../img/hero-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-slide-third {
  background-image: url(../../img/hero-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@-webkit-keyframes resize {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes resize {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@media (max-width: 1276px) {
  .hero {
    margin-top: 0;
  }
  .hero__container {
    padding: 0 30px;
  }
  .hero__descr {
    padding-left: 0;
  }

  .hero-slide-one {
    background-image: url(../../img/hero-1-1024.png);
  }

  .hero-slide-two {
    background-image: url(../../img/hero-2-1024.png);
  }

  .hero-slide-third {
    background-image: url(../../img/hero-3-1024.png);
  }
}
@media (max-width: 768px) {
  .hero__descr {
    width: 100%;
  }
  .hero__title {
    font-size: 56px;
    line-height: 80px;
  }
  .hero__text {
    width: 100%;
  }

  .hero-slide-one {
    background-image: url(../../img/hero-1-768.png);
  }

  .hero-slide-two {
    background-image: url(../../img/hero-2-768.png);
  }

  .hero-slide-third {
    background-image: url(../../img/hero-3-768.png);
  }
}
@media (max-width: 500px) {
  .hero {
    min-height: 420px;
  }
  .hero__container {
    padding: 0 15px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }
  .hero__text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .hero__btn {
    position: relative;
    left: 48%;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 19px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .hero-slide-one {
    background-image: url(../../img/hero-1-320.png);
  }

  .hero-slide-two {
    background-image: url(../../img/hero-2-320.png);
  }

  .hero-slide-third {
    background-image: url(../../img/hero-3-320.png);
  }
}