@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: local("Gilroy-Regular"), url(../fonts/Gilroy-Regular.woff2) format("woff2"), url(../fonts/Gilroy-Regular.woff) format("woff")
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.woff2) format("woff2"), url(../fonts/Gilroy-Medium.woff) format("woff")
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  display: swap;
  src: local("Gilroy-SemiBold"), url(../fonts/Gilroy-SemiBold.woff2) format("woff2"), url(../fonts/Gilroy-SemiBold.woff) format("woff")
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.woff2) format("woff2"), url(../fonts/Gilroy-Bold.woff) format("woff")
}

:root {
  --colorBlack: #3a3a3a;
  --colorGray: #898989;
  --colorRedLight: #e97171;
  --colorGreenLight: #2ec1ac;
  --colorOrangePrimary: #e89f71;
  --colorWhite: #ffffff;
  --colorGrayWhite: #f4f5f7;
  --colorLightYellow: #f9f1e7
}

.container {
  max-width: 1275px;
  padding: 0 15px;
  margin: 0 auto
}

body {
  font-family: Gilroy
}

.body-block {
  overflow: hidden
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorBlack)
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--colorBlack)
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--colorBlack)
}

.btn {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorWhite);
  background-color: #ff6e30;
  padding: 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

@media (min-width:1024px) {
  .header__link:hover {
    color: var(--colorOrangePrimary)
  }

  .header__link:hover+.header__sublist {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
  }

  .header__link:hover svg {
    stroke: var(--colorOrangePrimary);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  .header__sublist:hover {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
  }

  .header__sublink:hover {
    color: var(--colorWhite)
  }

  .header__btn:hover svg {
    stroke: var(--colorOrangePrimary)
  }

  .header__input:hover {
    background-color: var(--colorOrangePrimary)
  }

  .header__favorite:hover svg {
    stroke: var(--colorOrangePrimary)
  }

  .header__cart:hover svg {
    stroke: var(--colorOrangePrimary)
  }

  .hero__btn:hover {
    background-color: var(--colorOrangePrimary)
  }

  .hero__button-prev:hover {
    opacity: .7
  }

  .hero__button-next:hover {
    opacity: .7
  }

  .hero__link:hover::before {
    background-color: rgba(255, 255, 255, .6)
  }

  .products__item:hover .mask {
    opacity: 1;
    pointer-events: visible;
    visibility: visible
  }

  .products__button:hover {
    color: var(--colorWhite);
    background-color: var(--colorOrangePrimary)
  }

  .mask__btn:hover {
    color: var(--colorWhite);
    background-color: var(--colorOrangePrimary)
  }

  .mask__share:hover {
    color: var(--colorOrangePrimary)
  }

  .mask__share:hover svg {
    fill: var(--colorOrangePrimary)
  }

  .mask__favorite:hover {
    color: var(--colorOrangePrimary)
  }

  .mask__favorite:hover svg {
    fill: var(--colorOrangePrimary)
  }

  .rooms__link:hover {
    background-color: var(--colorOrangePrimary)
  }

  .rooms__sublink:hover::before {
    background-color: rgba(255, 255, 255, .6)
  }

  .rooms__arrow:hover {
    opacity: .7
  }

  .rooms__button-prev:hover {
    background-color: var(--colorOrangePrimary)
  }

  .rooms__button-prev:hover svg {
    stroke: var(--colorWhite)
  }

  .rooms__button-next:hover {
    background-color: var(--colorOrangePrimary)
  }

  .rooms__button-next:hover svg {
    stroke: var(--colorWhite)
  }

  .tips__slide:hover {
    background-color: var(--colorWhite);
    -webkit-box-shadow: 0 0 32px rgba(97, 97, 97, .2);
    box-shadow: 0 0 32px rgba(97, 97, 97, .2)
  }

  .tips__button-prev:hover {
    background-color: var(--colorOrangePrimary)
  }

  .tips__button-prev:hover svg {
    stroke: var(--colorWhite)
  }

  .tips__button-next:hover {
    background-color: var(--colorOrangePrimary)
  }

  .tips__button-next:hover svg {
    stroke: var(--colorWhite)
  }

  .footer__tel:hover {
    color: var(--colorOrangePrimary)
  }

  .footer__tel:hover svg {
    fill: var(--colorOrangePrimary)
  }

  .footer__geo:hover {
    color: var(--colorOrangePrimary)
  }

  .footer__geo:hover svg {
    fill: var(--colorOrangePrimary)
  }

  .footer__site:hover {
    color: var(--colorOrangePrimary)
  }

  .menu__link:hover {
    color: var(--colorOrangePrimary)
  }

  .account__link:hover {
    color: var(--colorOrangePrimary)
  }

  .stay__link:hover {
    color: var(--colorOrangePrimary)
  }

  .form__input:hover {
    background-color: var(--colorOrangePrimary);
    opacity: .7
  }

  .form__input:hover::-webkit-input-placeholder {
    color: var(--colorWhite)
  }

  .form__input:hover::-moz-placeholder {
    color: var(--colorWhite)
  }

  .form__input:hover:-ms-input-placeholder {
    color: var(--colorWhite)
  }

  .form__input:hover::-ms-input-placeholder {
    color: var(--colorWhite)
  }

  .form__input:hover::placeholder {
    color: var(--colorWhite)
  }

  .form__btn:hover {
    opacity: .7
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10
}

.header__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1275px;
  min-height: calc(75px + 50 * ((100vw - 320px)/ 1600));
  padding: 0 15px;
  margin: 0 auto
}

.header__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-right: calc(20px + 21 * ((100vw - 320px)/ 1600))
}

.header__burger {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.header__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.header__item:not(:last-child) {
  margin-right: calc(20px + 21 * ((100vw - 320px)/ 1600))
}

.header__link {
  font-weight: 500;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__link svg {
  fill: transparent;
  stroke: #3a3a3a;
  vertical-align: text-top;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-left: 4px
}

.header__link svg stroke {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__sublist {
  position: absolute;
  top: 110%;
  left: -10px;
  min-width: 200px;
  background-color: var(--colorOrangePrimary);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  padding: 5px 5px 5px 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10
}

.header__sublink {
  display: block;
  width: 100%;
  font-weight: 500;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__search {
  display: none;
  background-color: transparent
}

.header__search svg {
  stroke: #333;
  fill: transparent
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 38%;
  margin-left: calc(20px + 27 * ((100vw - 320px)/ 1600));
  background-color: var(--colorWhite)
}

.header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}

.header__label svg {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: transparent;
  padding: 0 8px
}

.header__btn svg {
  stroke: #333;
  fill: transparent
}

.header__input {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--colorBlack);
  padding: 12px 12px 12px 4px;
  background-color: var(--colorWhite);
  border: 1px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #616161
}

.header__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #616161
}

.header__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #616161
}

.header__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #616161
}

.header__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #616161
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto
}

.header__favorite {
  display: inline-block;
  margin-right: calc(10px + 23 * ((100vw - 320px)/ 1600))
}

.header__favorite svg {
  stroke: #262f56;
  fill: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__cart {
  display: inline-block;
  margin-right: calc(15px + 16 * ((100vw - 320px)/ 1600))
}

.header__cart svg {
  stroke: #262f56;
  fill: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.header__profile {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: calc(0px + 4 * ((100vw - 320px)/ 1600))
}

.header__profile img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

@media (max-width:600px) {
  .header__profile {
    width: 30px;
    height: 30px
  }
}

.scroll .header__wrapper {
  background-color: rgba(255, 255, 255, .8)
}

@media (max-width:1024px) {
  .header__container {
    position: relative
  }

  .header__burger {
    position: relative;
    display: block;
    z-index: 11;
    margin-right: 8px;
    margin-left: auto
  }

  .header__body {
    position: relative
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    background-color: rgba(0, 0, 0, .8);
    padding: 95px 50px 50px 50px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }

  .header__list {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 5
  }

  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px
  }

  .header__link {
    width: 100%;
    color: var(--colorWhite);
    font-size: 32px;
    margin-left: 0;
    text-align: left
  }

  .header__link svg {
    vertical-align: middle;
    stroke: var(--colorWhite)
  }

  .header__sublist {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    min-width: auto;
    padding: 0
  }

  .header__subitem {
    padding-left: 5px;
    margin-bottom: 10px
  }

  .header__sublink {
    font-size: 25px
  }

  .header__favorite {
    margin-right: 8px
  }

  .header__cart {
    margin-right: 8px
  }

  .header__search {
    display: block;
    margin-right: 8px
  }

  .header__form {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-left: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }

  .header__right {
    margin-left: 0
  }

  ._active svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s
  }

  .nav-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
  }

  .burger-active .header__line {
    opacity: 0;
    visibility: hidden;
    pointer-events: none
  }

  .burger-active::before {
    background-color: var(--colorWhite);
    top: 10px;
    -webkit-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    transform: rotate(47deg)
  }

  .burger-active::after {
    background-color: var(--colorWhite);
    -webkit-transform: rotate(-47deg);
    -ms-transform: rotate(-47deg);
    transform: rotate(-47deg);
    bottom: 12px
  }

  .form-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px)
  }
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: #fcf8f3;
  margin-bottom: calc(25px + 63 * ((100vw - 320px)/ 1600));
  padding-bottom: calc(40px + 41 * ((100vw - 320px)/ 1600))
}

.hero::before {
  content: "";
  position: absolute;
  width: 62.5%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f9f1e7;
  z-index: 1
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(80px + 61 * ((100vw - 320px)/ 1600))
}

.hero__left {
  position: relative;
  width: 39.8%;
  padding: 4.9% 4.7% 4.7% 4.7%;
  margin-left: 4px;
  background-color: rgba(255, 255, 255, .72);
  z-index: 5
}

@supports ((-webkit-backdrop-filter:blur(31px)) or (backdrop-filter:blur(31px))) {
  .hero__left {
    background: rgba(255, 255, 255, .72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px)
  }
}

.hero__title:not(:last-child) {
  margin-bottom: 14px
}

.hero__text {
  width: 95%;
  font-size: 20px
}

.hero__text:not(:last-child) {
  margin-bottom: 48px
}

.hero__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  padding: 22px 36.5%;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.hero__swiper {
  bottom: 0;
  left: 0;
  width: 60%
}

.hero__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(20px + 12 * ((100vw - 320px)/ 1600));
  padding-bottom: calc(10px + 12 * ((100vw - 320px)/ 1600))
}

.hero__pagination {
  position: static;
  display: inline-block;
  text-align: left;
  margin-left: 30px;
  z-index: 1
}

.hero__button-prev {
  position: static;
  display: block;
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--colorOrangePrimary);
  border-radius: 50%;
  margin-right: 8px;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.hero__button-prev::after {
  display: none
}

.hero__button-prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  stroke: var(--colorWhite);
  fill: transparent
}

.hero__button-next {
  position: static;
  display: block;
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--colorOrangePrimary);
  border-radius: 50%;
  margin-right: 4px;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.hero__button-next::after {
  display: none
}

.hero__button-next svg {
  stroke: var(--colorWhite);
  fill: transparent
}

.hero__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.no-webp .hero .slide-one {
  background-image: url(../img/main-slider-1.jpg)
}

.hero .slide-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.no-webp .hero .slide-two {
  background-image: url(../img/main-slider-2.jpg)
}

.hero .slide-two {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.no-webp .hero .slide-third {
  background-image: url(../img/main-slider-3.jpg)
}

.hero .slide-third {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.no-webp .hero .slide-four {
  background-image: url(../img/main-slider-3.jpg)
}

.hero .slide-four {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.hero .swiper-pagination-bullet {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: #d8d8d8
}

.hero .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: -8.5px;
  left: -9px;
  width: 260%;
  height: 250%;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.hero .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  opacity: 1;
  margin-right: 15px
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--colorOrangePrimary)
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-color: var(--colorOrangePrimary)
}

.hero__descr {
  position: relative;
  width: 39.4%;
  margin-right: 44px;
  margin-bottom: 37px;
  background-color: rgba(255, 255, 255, .72);
  padding: 24px
}

@supports ((-webkit-backdrop-filter:blur(31px)) or (backdrop-filter:blur(31px))) {
  .hero__descr {
    background: rgba(255, 255, 255, .72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px)
  }
}

.hero__descr svg {
  fill: var(--colorBlack)
}

.hero__descr .hero__text {
  font-size: 16px;
  color: #616161
}

.hero__descr .hero__text:not(:last-child) {
  margin-bottom: 12px
}

.hero__link {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: var(--colorBlack);
  margin-bottom: 10px
}

.hero__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.hero__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--colorBlack)
}

@media (max-width:1218px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .hero__left {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px
  }

  .hero__text {
    width: 100%
  }

  .hero__btn {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 24px 13.5%;
    z-index: 2
  }

  .hero__swiper {
    position: relative;
    width: 90%;
    padding-bottom: 55px;
    margin-bottom: 30px
  }

  .hero__navigations {
    padding: 0
  }

  .hero__pagination {
    position: absolute;
    text-align: center
  }

  .hero__button-prev {
    position: absolute;
    top: 48%;
    left: 20px;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2
  }

  .hero__button-next {
    position: absolute;
    top: 48%;
    right: calc(-40px + -95 * ((100vw - 320px)/ 1600));
    margin: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2
  }

  .hero__slide {
    padding-top: 60%
  }
}

@media (max-width:630px) {
  .hero__title {
    font-size: 32px
  }

  .hero__text {
    font-style: 14px
  }

  .hero__link {
    font-size: 18px
  }

  .hero__price {
    font-size: 14px
  }

  .hero__button-prev {
    display: none
  }

  .hero__button-next {
    display: none
  }

  .hero__slide {
    display: block;
    padding-top: 0;
    padding-bottom: 100%
  }

  .hero__descr {
    width: 100%;
    margin: 0
  }

  .hero__btn {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%
  }
}

.webp .hero .slide-one {
  background-image: url(../img/main-slider-1.webp)
}

.webp .hero .slide-two {
  background-image: url(../img/main-slider-2.webp)
}

.webp .hero .slide-third {
  background-image: url(../img/main-slider-3.webp)
}

.webp .hero .slide-four {
  background-image: url(../img/main-slider-3.webp)
}

.feature {
  margin-bottom: calc(30px + 67 * ((100vw - 320px)/ 1600))
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 300px
}

.feature__item:not(:last-child) {
  margin-right: calc(30px + 46 * ((100vw - 320px)/ 1600))
}

.feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 10px 10px 24px
}

.feature__body svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 25px
}

.feature__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.feature__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--colorBlack)
}

.feature__text {
  color: var(--colorGray)
}

@media (max-width:950px) {
  .feature__item {
    min-width: 300px
  }

  .feature__item:not(:last-child) {
    margin-right: 0
  }

  .feature__body {
    padding: 10px 0
  }
}

@media (max-width:600px) {
  .feature__item {
    width: 100%;
    min-width: auto
  }
}

.products {
  margin-bottom: calc(20px + 24 * ((100vw - 320px)/ 1600))
}

.products__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 31px
}

.products__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 32px;
  margin-bottom: 30px
}

.products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 446px;
  background-color: var(--colorGrayWhite)
}

.products__item img {
  max-width: 100%
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 17px;
  height: 100%
}

.products__image {
  position: relative;
  padding-bottom: 105%
}

.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.products__link {
  display: inline-block
}

.products__link:not(:last-child) {
  margin-bottom: 6px
}

.products__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.products__text:not(:last-child) {
  margin-bottom: 9px
}

.products__discounts {
  position: absolute;
  top: 24px;
  right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.products__discount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorWhite);
  background-color: var(--colorRedLight);
  border-radius: 50%
}

.products__discount:not(:last-child) {
  margin-bottom: 20px
}

.products__new {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorWhite);
  background-color: var(--colorGreenLight);
  border-radius: 50%
}

.products__new:not(:last-child) {
  margin-bottom: 20px
}

.products__button {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--colorOrangePrimary);
  text-align: center;
  border: 2px solid var(--colorOrangePrimary);
  padding: 14px 79px;
  background-color: transparent;
  margin: 0 auto;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.products .collapse-btn {
  display: none
}

.products .product-hidden {
  opacity: 0;
  visibility: hidden;
  display: none
}

.products .collapse-btn-active {
  display: block
}

.products .open-btn-disabled {
  display: none
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.price__new {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--colorBlack);
  margin-right: 17px
}

.price__old {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #b0b0b0;
  text-decoration: line-through
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.mask__wrapper {
  max-width: 202px
}

.mask__btn {
  color: var(--colorOrangePrimary);
  background-color: var(--colorWhite);
  margin-bottom: 24px;
  padding: 12px 56px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.mask__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.mask__share {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorWhite);
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.mask__share svg {
  fill: var(--colorWhite);
  margin-right: 5px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.mask__favorite {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorWhite);
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.mask__favorite svg {
  fill: var(--colorWhite);
  margin-right: 5px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

@media (max-width:1235px) {
  .products__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr)
  }
}

@media (max-width:1024px) {
  .mask {
    position: relative;
    display: block;
    height: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    background-color: transparent;
    padding-left: 17px
  }

  .mask__wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }

  .mask__btn {
    color: var(--colorWhite);
    background-color: var(--colorOrangePrimary)
  }

  .mask__share {
    display: none
  }

  .mask__favorite {
    display: none
  }
}

@media (max-width:800px) {
  .products__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width:630px) {
  .products__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }

  .products__title {
    font-size: 32px
  }
}

.rooms {
  position: relative;
  background-color: #fcf8f3;
  overflow: hidden;
  min-height: 670px;
  padding-bottom: calc(40px + 47 * ((100vw - 320px)/ 1600))
}

.rooms::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  height: 100%;
  background-color: #fcf8f3;
  z-index: 3
}

.rooms__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px
}

.rooms__left {
  position: relative;
  width: 473px;
  z-index: 5
}

.rooms__body {
  top: calc(100px + 76 * ((100vw - 320px)/ 1600));
  left: 3px;
  padding-right: 20px
}

.rooms__title {
  font-size: 40px
}

.rooms__title:not(:last-child) {
  margin-bottom: 8px
}

.rooms__text {
  width: 80%
}

.rooms__text:not(:last-child) {
  margin-bottom: 25px
}

.rooms__link {
  padding: 11px 38px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__swiper {
  position: relative;
  width: 448px;
  min-height: 582px
}

.rooms__swiper .swiper-slide-active img {
  height: 100%
}

.rooms__swiper .swiper-slide-active .rooms__descr {
  opacity: 1;
  pointer-events: visible;
  visibility: visible
}

.rooms__descr {
  position: relative;
  margin-bottom: 26px;
  width: 66.4%;
  margin-left: calc(100px + -70 * ((100vw - 320px)/ 1600));
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__wrp {
  width: 82%;
  background-color: rgba(255, 255, 255, .72);
  padding: 34px 24px 30px 32px
}

@supports ((-webkit-backdrop-filter:blur(31px)) or (backdrop-filter:blur(31px))) {
  .rooms__wrp {
    background: rgba(255, 255, 255, .72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px)
  }
}

.rooms__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  margin-bottom: 10px
}

.rooms__span {
  display: inline-block;
  width: 27px;
  border-top: 1px solid #616161;
  margin-left: 7px;
  margin-right: 10px
}

.rooms__sublink {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: var(--colorBlack)
}

.rooms__sublink::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  background-color: var(--colorOrangePrimary);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__arrow svg {
  fill: var(--colorWhite)
}

.rooms__button-prev {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
  border-radius: 50%;
  margin-right: 8px;
  z-index: 5;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__button-prev::after {
  display: none
}

.rooms__button-prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  stroke: var(--colorOrangePrimary);
  fill: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__button-next {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
  border-radius: 50%;
  margin-right: 4px;
  z-index: 2;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__button-next::after {
  display: none
}

.rooms__button-next svg {
  stroke: var(--colorOrangePrimary);
  fill: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms__pagination {
  display: inline-block;
  text-align: left;
  z-index: 2
}

.rooms__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 89%
}

.rooms__slide img {
  position: absolute;
  width: 100%;
  height: 83%;
  top: 0;
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.rooms .swiper-pagination-bullet {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  opacity: 1
}

.rooms .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: -8.5px;
  left: -9px;
  width: 260%;
  height: 250%;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.rooms .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: auto;
  right: -97px;
  bottom: 38px
}

.rooms .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 15px
}

.rooms .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--colorOrangePrimary)
}

.rooms .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-color: var(--colorOrangePrimary)
}

@media (max-width:1050px) {
  .rooms {
    padding-bottom: 30px
  }

  .rooms::before {
    display: none
  }

  .rooms__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 50px
  }

  .rooms__left {
    width: 100%;
    margin-bottom: 30px
  }

  .rooms__body {
    top: 0
  }

  .rooms__slide {
    padding-top: 100%
  }

  .rooms__button-next {
    top: 62%
  }

  .rooms__descr {
    margin-left: 20px
  }

  .rooms .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
  }
}

@media (max-width:630px) {
  .rooms__container {
    padding-left: 0;
    padding-right: 0
  }

  .rooms__left {
    padding-left: 15px;
    padding-right: 15px
  }

  .rooms__title {
    font-size: 32px
  }

  .rooms__button-next {
    display: none
  }

  .rooms__slide img {
    height: 100%
  }

  .rooms__button-prev {
    display: none
  }

  .rooms__descr {
    left: 10px
  }
}

.tips {
  background-color: #fcf8f3;
  padding-bottom: 20px;
  margin-bottom: 50px
}

.tips__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: calc(20px + 12 * ((100vw - 320px)/ 1600))
}

.tips__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 20px 16px 19px
}

.tips__link {
  display: inline-block;
  width: 80%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--colorBlack);
  margin-bottom: 7px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.tips__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.tips__data {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--colorGray)
}

.tips__swiper {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px
}

.tips__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: auto;
  min-height: 370px;
  background-color: transparent;
  margin-right: 24px;
  padding-top: 21%;
  background-size: contain;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.no-webp .tips .one-slide {
  background-image: url(../img/tips-1.jpg)
}

.tips .one-slide {
  background-repeat: no-repeat;
  background-position: left top
}

.no-webp .tips .two-slide {
  background-image: url(../img/tips-2.jpg)
}

.tips .two-slide {
  background-repeat: no-repeat;
  background-position: left top
}

.no-webp .tips .third-slide {
  background-image: url(../img/tips-3.jpg)
}

.tips .third-slide {
  background-repeat: no-repeat;
  background-position: left top
}

.no-webp .tips .four-slide {
  background-image: url(../img/tips-1.jpg)
}

.tips .four-slide {
  background-repeat: no-repeat;
  background-position: left top
}

.tips__pagination {
  display: inline-block;
  text-align: left;
  z-index: 2
}

.tips__button-prev {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
  border-radius: 50%;
  margin-right: 8px;
  z-index: 5;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.tips__button-prev::after {
  display: none
}

.tips__button-prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  stroke: var(--colorOrangePrimary);
  fill: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.tips__button-next {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
  border-radius: 50%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.tips__button-next::after {
  display: none
}

.tips__button-next svg {
  stroke: var(--colorOrangePrimary);
  fill: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.tips .swiper-pagination-bullet {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  opacity: 1
}

.tips .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: -8.5px;
  left: -9px;
  width: 260%;
  height: 250%;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.tips .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.tips .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 15px
}

.tips .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--colorOrangePrimary)
}

.tips .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-color: var(--colorOrangePrimary)
}

@media (max-width:950px) {
  .tips__slide {
    width: 50%;
    background-size: contain;
    padding-top: 32%
  }

  .tips__button-prev {
    display: none
  }

  .tips__button-next {
    display: none
  }
}

@media (max-width:630px) {
  .tips__title {
    font-size: 32px
  }

  .tips__slide {
    width: 100%;
    padding-top: 65%
  }
}

.webp .tips .one-slide {
  background-image: url(../img/tips-1.webp)
}

.webp .tips .two-slide {
  background-image: url(../img/tips-2.webp)
}

.webp .tips .third-slide {
  background-image: url(../img/tips-3.webp)
}

.webp .tips .four-slide {
  background-image: url(../img/tips-1.webp)
}

.furniture {
  min-height: 780px;
  margin-bottom: calc(50px + 30 * ((100vw - 320px)/ 1600));
  overflow: hidden
}

.furniture__container {
  padding: 0
}

.furniture__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #616161;
  text-align: center
}

.furniture__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px
}

@media (max-width:1024px) {
  .furniture__title {
    font-size: 34px
  }
}

.furniture__body {
  position: relative
}

@media (any-hover:none) {
  .furniture__body {
    overflow: auto;
    -webkit-overflow-scrolling: touch
  }
}

.furniture__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px
}

@media (any-hover:hover) {
  .furniture__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.furniture__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -8px
}

.furniture__column:first-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.furniture__row {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0 8px;
  gap: 16px;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column
}

.furniture__row:not(:last-child) {
  margin-bottom: 16px
}

.furniture .left-top {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end
}

.furniture .left-bottom {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start
}

.furniture .center {
  display: block
}

.furniture .right-top {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end
}

.furniture .right-bottom {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #d8d8d8;
  padding-top: 79px;
  padding-bottom: 30px
}

@media (max-width:1275px) {
  .footer__container {
    padding-top: calc(50px + 29 * ((100vw - 320px)/ 955))
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 21%
}

.footer__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 16px
}

.footer__text {
  margin-bottom: 16px
}

.footer__geo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  margin-bottom: 16px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.footer__geo svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  fill: #898989;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.footer__tel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  margin-bottom: 16px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.footer__tel svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  fill: #898989;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.footer__site {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  margin-bottom: 16px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 44%
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.menu__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  background-color: transparent;
  margin-bottom: 16px;
  pointer-events: none
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.menu__subitem:not(:last-child) {
  margin-bottom: 16px
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.account__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  background-color: transparent;
  margin-bottom: 16px;
  pointer-events: none
}

.account__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.account__subitem:not(:last-child) {
  margin-bottom: 16px
}

.stay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.stay__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  background-color: transparent;
  margin-bottom: 16px;
  pointer-events: none
}

.stay__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.stay__subitem:not(:last-child) {
  margin-bottom: 16px
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 292px
}

@media (max-width:600px) {
  .form {
    width: 100%
  }
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 16px
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 5px 10px 5px 11px;
  background-color: #f4f5f7;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--colorBlack);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 46px;
  height: 45px;
  background-color: var(--colorOrangePrimary);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.form__btn svg {
  fill: var(--colorWhite)
}

@media (max-width:1100px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .footer__left {
    width: 100%
  }

  .footer__lists {
    width: 100%
  }

  .footer__lists {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: 20px
  }

  .menu {
    width: 20%;
    margin-right: 30px
  }
}

@media (max-width:1100px) and (max-width:1275px) {
  .menu {
    margin-right: calc(20px + 10 * ((100vw - 320px)/ 955))
  }
}

@media (max-width:1100px) {
  .menu__btn {
    pointer-events: visible
  }
}

@media (max-width:1100px) {
  .account {
    width: 20%;
    margin-right: 30px
  }

  .account__btn {
    pointer-events: visible
  }
}

@media (max-width:1100px) {
  .stay {
    width: 20%;
    margin-right: 30px
  }

  .stay__btn {
    pointer-events: visible;
    white-space: nowrap
  }
}

@media (max-width:630px) {
  .footer__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px
  }

  .menu {
    width: 100%;
    margin-bottom: 10px
  }

  .account {
    width: 100%;
    margin-bottom: 10px
  }

  .stay {
    width: 100%;
    margin-bottom: 10px
  }
}