* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  box-sizing: border-box
}

:active,
:focus,
a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:hover,
a:visited {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

@font-face {
  font-family: Montserrat400;
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff) format("woff")
}

@font-face {
  font-family: Montserrat500;
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.woff2) format("woff2"), url(../fonts/Montserrat-Medium.woff) format("woff")
}

@font-face {
  font-family: Montserrat600;
  font-style: normal;
  font-weight: 600;
  display: swap;
  src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat-SemiBold.woff) format("woff")
}

@font-face {
  font-family: Montserrat700;
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.woff) format("woff")
}

@font-face {
  font-family: Montserrat800;
  font-style: normal;
  font-weight: 800;
  display: swap;
  src: local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"), url(../fonts/Montserrat-ExtraBold.woff) format("woff")
}

:root {
  --color-black: #333333;
  --color-dark-black: #000000;
  --color-gray: #666666;
  --color-white: #ffffff;
  --color-orange: #ff9900;
  --color-dark-orange: #e1670e;
  --color-light-orange: #f7b045
}

.container {
  max-width: 1830px;
  padding: 0 30px;
  margin: 0 auto
}

body {
  font-family: Montserrat400;
  overflow-x: hidden;
  background-color: #eaeaea
}

.body-block {
  position: relative;
  overflow: hidden;
  padding-right: 17px
}

.body-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 100px;
  background-color: var(--color-white)
}

.text {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black)
}

.title {
  font-family: Montserrat400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black)
}

.subtitle {
  font-family: Montserrat700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black)
}

.btn {
  font-family: Montserrat700;
  font-size: 23px;
  line-height: 29px;
  color: var(--color-white);
  padding: 24px 40px;
  border: 1px;
  background-color: var(--color-orange)
}

@media (min-width:1024px) {
  .header__link {
    transition: .2s ease-in-out
  }

  .header__link:hover::before {
    background-color: var(--color-orange);
    opacity: 1
  }

  .header__link:focus-visible {
    border-color: var(--color-orange)
  }

  .header__btn svg path,
  .header__btn svg rect {
    transition: .2s ease-in-out
  }

  .header__btn:hover svg path {
    stroke: var(--color-orange)
  }

  .header__btn:hover svg rect {
    fill: var(--color-orange)
  }

  .header__btn:focus-visible {
    border-color: var(--color-orange)
  }

  .searchwrapper__search svg path,
  .searchwrapper__search svg rect {
    transition: .2s ease-in-out
  }

  .searchwrapper__search:focus-visible {
    border-color: var(--color-orange)
  }

  .searchwrapper__search:focus-visible svg path {
    stroke: var(--color-black)
  }

  .searchwrapper__search:focus-visible svg rect {
    fill: var(--color-black)
  }

  .searchwrapper__exit svg circle,
  .searchwrapper__exit svg rect {
    transition: .2s ease-in-out
  }

  .searchwrapper__exit:hover svg circle {
    stroke: var(--color-orange)
  }

  .searchwrapper__exit:hover svg rect {
    fill: var(--color-orange)
  }

  .searchwrapper__exit:focus-visible {
    border-color: var(--color-orange)
  }

  .hero__btn:hover {
    background-color: var(--color-light-orange)
  }

  .hero__btn:focus-visible {
    background-color: var(--color-light-orange)
  }

  .about__btn:hover {
    background-color: var(--color-orange)
  }

  .about__btn:focus-visible {
    background-color: var(--color-orange)
  }

  .work-tab__button:hover {
    background-color: var(--color-light-orange)
  }

  .work-tab__button:focus-visible {
    background-color: var(--color-light-orange)
  }

  .work-tab__but:hover {
    color: var(--color-white);
    background-color: var(--color-gray)
  }

  .work-tab__but:focus-visible {
    color: var(--color-white);
    background-color: var(--color-gray)
  }

  .accordion__heading:hover {
    border-color: orange;
    position: relative;
    z-index: 1
  }

  .accordion__heading:hover .accordion__title {
    color: var(--color-orange)
  }

  .accordion__heading:hover svg ellipse {
    fill: var(--color-orange)
  }

  .accordion__heading:hover svg path {
    fill: var(--color-white)
  }

  .accordion__heading:focus-visible {
    border-color: orange;
    position: relative;
    z-index: 1
  }

  .accordion__heading:focus-visible .accordion__title {
    color: var(--color-orange)
  }

  .accordion__heading:focus-visible svg ellipse {
    fill: var(--color-orange)
  }

  .accordion__heading:focus-visible svg path {
    fill: var(--color-white)
  }

  .footer__btn:hover {
    background-color: var(--color-light-orange)
  }

  .footer__btn:focus-visible {
    background-color: var(--color-light-orange)
  }

  .footer__link:hover {
    color: var(--color-orange)
  }

  .footer__link:focus-visible {
    border-color: var(--color-orange)
  }

  .footer__icon:hover svg path {
    fill: var(--color-orange)
  }

  .footer__icon:focus-visible {
    border-color: var(--color-orange)
  }

  .footer__email:hover,
  .footer__text:hover,
  .footer__textarea:hover {
    background-color: var(--color-gray)
  }
}

.header {
  background-color: var(--color-white)
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px
}

.header__right {
  display: flex
}

.header__nav {
  margin-top: 3px;
  margin-right: 74px
}

.header__link {
  position: relative;
  font-family: Montserrat600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  padding: 1px 3px;
  border: 2px solid transparent
}

.header__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 95%;
  height: 2px;
  background-color: transparent;
  transform: translateX(-50%);
  transition: .2s linear;
  opacity: 0
}

.header__link:active {
  color: var(--color-dark-orange);
  transition-duration: .1s
}

.header__link:active::before {
  background-color: var(--color-dark-orange);
  opacity: 1;
  transition-duration: .1s
}

.header__list {
  display: flex;
  flex-wrap: wrap
}

.header__item:not(:last-child) {
  margin-right: 75px
}

.header__btn {
  padding: 1px 3px;
  background-color: transparent;
  border: 2px solid transparent;
  margin-right: -3px
}

.header__btn:active svg path {
  stroke: var(--color-dark-orange)
}

.header__btn:active svg rect {
  fill: var(--color-dark-orange)
}

.header__burger {
  position: relative;
  width: 30px;
  height: 23px;
  background-color: transparent;
  display: none;
  z-index: 30;
  transition: .2s ease-in-out
}

.header__burger span {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-black);
  transition: .2s ease-in-out
}

.header__burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  transition: .2s ease-in-out
}

.header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  transition: .2s ease-in-out
}

.searchwrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 50%;
  width: 539px;
  height: 60px;
  opacity: 0;
  transform: translateY(50%);
  visibility: hidden;
  pointer-events: none;
  background-color: var(--color-white);
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .12);
  transition: .2s ease-in-out;
  z-index: 1111
}

.searchwrapper__form {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-left: 30px
}

.searchwrapper input {
  width: 412px;
  font-family: Montserrat500;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 5px;
  margin-right: 12px;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 0
}

.searchwrapper input::-moz-placeholder {
  font-family: Montserrat500;
  font-size: 18px;
  line-height: 22px;
  color: #adadad
}

.searchwrapper input:-ms-input-placeholder {
  font-family: Montserrat500;
  font-size: 18px;
  line-height: 22px;
  color: #adadad
}

.searchwrapper input::placeholder {
  font-family: Montserrat500;
  font-size: 18px;
  line-height: 22px;
  color: #adadad
}

.searchwrapper__exit {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 1px 3px
}

.searchwrapper__exit svg rect {
  fill: #999
}

.searchwrapper__exit:active svg circle {
  stroke: var(--color-black)
}

.searchwrapper__exit:active svg rect {
  fill: var(--color-black)
}

.searchwrapper__search {
  background-color: transparent;
  padding: 1px 3px;
  border: 2px solid transparent;
  transition: .2s ease-in-out
}

.searchwrapper__search svg path {
  stroke: var(--color-orange)
}

.searchwrapper__search svg rect {
  fill: var(--color-orange)
}

.searchwrapper__search:active svg path {
  stroke: var(--color-dark-orange)
}

.searchwrapper__search:active svg rect {
  fill: var(--color-dark-orange)
}

.search-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

@media (max-width:1200px) {
  .header__container {
    position: static;
    padding: 25px 50px
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 45px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--color-white);
    margin-right: 0;
    margin-top: 0;
    transition: .2s ease-in-out;
    z-index: 1000;
    overflow-y: auto
  }

  .header__list {
    display: block
  }

  .header__item {
    margin: 0
  }

  .header__item:not(:last-child) {
    margin: 0 0 40px
  }

  .header__link {
    display: inline-block;
    width: 100%;
    font-size: 24px
  }

  .header__link::before {
    left: 0;
    transform: translateX(0)
  }

  .header__logo {
    order: 2
  }

  .header__burger {
    display: block;
    order: 1;
    z-index: 1001
  }

  .header__right {
    order: 3
  }

  .nav-active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible
  }

  .burger-active::before {
    transform: rotate(45deg) translate(10px, 10px)
  }

  .burger-active::after {
    transform: rotate(-45deg) translate(4px, -4px)
  }

  .burger-active span {
    transform: translateX(-100px)
  }

  .searchwrapper {
    top: 5%;
    bottom: auto;
    transform: translateY(0)
  }

  .body-block::before {
    height: 122px
  }
}

@media (max-width:1024px) {
  .searchwrapper {
    top: 3%
  }

  .body-block::before {
    display: none;
    padding-right: 0
  }
}

@media (max-width:768px) {
  .header__container {
    padding-top: 9px;
    padding-bottom: 12px
  }

  .searchwrapper {
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    border-radius: 0;
    transform: translateY(0)
  }

  .searchwrapper__form {
    width: 100%;
    margin-left: 20px;
    margin-right: 0
  }

  .searchwrapper input {
    width: 100%
  }

  .searchwrapper__exit,
  .searchwrapper__search {
    margin-right: 5px
  }
}

@media (max-width:500px) {
  .header__container {
    padding: 17px 15px
  }

  .header__nav {
    width: 100%;
    padding-left: 15px
  }

  .header__link {
    font-family: Montserrat700;
    line-height: 20px
  }
}

.hero {
  margin-bottom: 136px
}

.hero__content {
  position: relative
}

.hero__swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 620px;
  overflow: hidden
}

.hero__descr {
  position: relative;
  max-width: 945px;
  padding: 5.7% 1.9% 5.1% 4.5%;
  z-index: 100
}

.hero__title {
  font-family: Montserrat800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
  margin-bottom: 23px
}

.hero__text {
  font-family: Montserrat700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  margin-bottom: 113px
}

.hero__btn {
  transition: .2s ease-in-out
}

.hero__btn:active {
  background-color: var(--color-dark-orange);
  transition-duration: .1s
}

.hero-swiper__slide:nth-child(1) {
  background-image: url(../images/heroimg1.webp), url(../images/heroimg1.png);
  background-repeat: no-repeat;
  background-size: cover
}

.hero-swiper__slide:nth-child(2) {
  background-image: url(../images/heroimg2.webp), url(../images/heroimg2.png);
  background-repeat: no-repeat;
  background-size: cover
}

.hero-swiper__slide:nth-child(3) {
  background-image: url(../images/heroimg3.webp), url(../images/heroimg3.png);
  background-repeat: no-repeat;
  background-size: cover
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 102;
  margin-bottom: 28px
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white)
}

.swiper-pagination-bullet {
  background-color: var(--color-white);
  width: 15px;
  height: 15px
}

.swiper-horizontal .swiper-pagination-bullet:not(:last-child) {
  margin-right: 16px
}

@media (max-width:1200px) {
  .hero {
    margin-bottom: 82px
  }

  .hero__container {
    padding: 0 50px
  }

  .hero__descr {
    padding: 17.5% 2.9% 20% 8.4%
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px
  }

  .hero__text {
    font-size: 20px;
    line-height: 24px;
    width: 90%;
    margin-bottom: 85px
  }

  .hero__btn {
    padding: 24px 39px
  }

  .hero-swiper__slide:nth-child(1) {
    background-image: url(../images/heroimg1-1024.webp), url(../images/heroimg1-1024.png)
  }

  .hero-swiper__slide:nth-child(2) {
    background-image: url(../images/heroimg2-1024.webp), url(../images/heroimg2-1024.png)
  }

  .hero-swiper__slide:nth-child(3) {
    background-image: url(../images/heroimg3-1024.webp), url(../images/heroimg3-1024.png)
  }
}

@media (max-width:768px) {
  .hero__descr {
    padding: 24% 2.9% 27.5% 5.9%
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
    width: 95%
  }

  .hero-swiper__slide:nth-child(1) {
    background-image: url(../images/heroimg1-768.webp), url(../images/heroimg1-768.png)
  }

  .hero-swiper__slide:nth-child(2) {
    background-image: url(../images/heroimg2-768.webp), url(../images/heroimg2-768.png)
  }

  .hero-swiper__slide:nth-child(3) {
    background-image: url(../images/heroimg3-768.webp), url(../images/heroimg3-768.png)
  }
}

@media (max-width:500px) {
  .hero {
    margin-bottom: 104px
  }

  .hero__container {
    padding: 0 15px
  }

  .hero__swiper {
    min-height: 308px
  }

  .hero__descr {
    padding: 20.9% 2.9% 6%
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 6px
  }

  .hero__text {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 99%;
    margin-bottom: 33px
  }

  .hero__btn {
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 28px;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
  }

  .hero-swiper__slide:nth-child(1) {
    background-image: url(../images/heroimg1-320.webp), url(../images/heroimg1-320.png)
  }

  .hero-swiper__slide:nth-child(2) {
    background-image: url(../images/heroimg2-320.webp), url(../images/heroimg2-320.png)
  }

  .hero-swiper__slide:nth-child(3) {
    background-image: url(../images/heroimg3-320.webp), url(../images/heroimg3-320.png)
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin-bottom: 14px
  }

  .swiper-pagination-bullet {
    background-color: var(--color-white);
    width: 10px;
    height: 10px
  }
}

.about {
  margin-bottom: 100px
}

.about__title {
  margin-left: 3px;
  margin-bottom: 20px
}

.about .text-width {
  width: 70%;
  margin-bottom: 48px
}

.about__bottom {
  display: flex
}

.about__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../images/aboutimg.webp), url(../images/aboutimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 81.5%;
  margin-right: 30px
}

.about__subleft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .5);
  padding: 50px
}

.about__subleft .about__text {
  width: 60%;
  margin-right: 30px
}

.about .text-color {
  font-family: Montserrat700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white)
}

.about__btn {
  font-family: Montserrat600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  border: 3px solid var(--color-orange);
  background-color: transparent;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 17px 37px;
  transition: .2s ease-in-out
}

.about__btn:active {
  background-color: var(--color-dark-orange);
  border-color: var(--color-dark-orange);
  transition-duration: .1s
}

.about__right {
  display: flex;
  flex-direction: column;
  width: 81.5%
}

.about__consultion {
  display: flex;
  border: 1px solid #cacaca;
  padding: 64px 30px;
  margin-bottom: 30px
}

.about__consultion img {
  display: block;
  margin-left: 30px
}

.about__aspiration {
  display: flex;
  border: 1px solid #cacaca;
  padding: 64px 30px
}

.about__aspiration img {
  display: block;
  margin-left: 30px
}

.about__descr {
  margin-left: 49px
}

.about__subtitle {
  font-family: Montserrat700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black);
  margin-bottom: 10px
}

.about__subtext {
  width: 88%
}

@media (max-width:1390px) {
  .about .text-width {
    width: 100%
  }

  .about__bottom {
    flex-direction: column
  }

  .about__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 31px
  }

  .about__subleft .about__text {
    width: 100%;
    text-align: center
  }

  .about__right {
    width: 100%
  }

  .about__consultion {
    margin: 0 0 30px
  }
}

@media (max-width:1200px) {
  .about {
    margin-bottom: 80px
  }

  .about__container {
    padding: 0 50px
  }

  .about__title {
    margin-left: 0;
    margin-bottom: 9px
  }

  .about .text-width {
    margin-bottom: 62px
  }

  .about__left {
    background-image: url(../images/aboutimg-1024.webp), url(../images/aboutimg-1024.png)
  }

  .about .text-color {
    width: 59%;
    text-align: left
  }

  .about__aspiration img,
  .about__consultion img {
    margin-left: 46px
  }

  .about__subtext {
    width: 82%
  }
}

@media (max-width:768px) {
  .about__title {
    margin-bottom: 8px
  }

  .about .text-width {
    margin-bottom: 60px
  }

  .about__left {
    background-image: url(../images/aboutimg-768.webp), url(../images/aboutimg-768.png);
    min-height: 650px
  }

  .about__subleft {
    padding: 34px 39px
  }

  .about .text-color {
    width: 62%
  }

  .about__descr {
    margin-left: 16px
  }

  .about__consultion {
    padding: 34px 30px;
    margin-bottom: 32px
  }

  .about__consultion img {
    margin-left: 9px;
    margin-top: 32px
  }

  .about__aspiration {
    padding: 34px 30px
  }

  .about__aspiration img {
    margin-left: 9px;
    margin-top: 32px
  }

  .about__subtitle {
    margin-bottom: 8px
  }

  .about__subtext {
    width: 90%
  }
}

@media (max-width:660px) {
  .about__left {
    background-image: url(../images/aboutimg-320.webp), url(../images/aboutimg-320.png);
    background-size: contain;
    background-position: top left;
    min-height: 0;
    padding-top: 72%
  }

  .about__subleft {
    flex-direction: column;
    background-color: transparent;
    padding: 0
  }

  .about .text-color {
    font-family: Montserrat400;
    color: var(--color-black);
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px
  }

  .about__btn {
    align-self: flex-start;
    color: var(--color-orange)
  }

  .about__consultion {
    flex-direction: column;
    padding: 0;
    margin-bottom: 32px;
    border: none
  }

  .about__consultion img {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px
  }

  .about__aspiration {
    flex-direction: column;
    padding: 0;
    border: none
  }

  .about__aspiration img {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px
  }

  .about__descr {
    margin-left: 0
  }
}

@media (max-width:500px) {
  .about {
    margin-bottom: 60px
  }

  .about__container {
    padding: 0 15px
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px
  }

  .about__left {
    margin-bottom: 24px
  }

  .about .text-width {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px
  }

  .about .text-color {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px
  }

  .about__subtitle {
    font-family: Montserrat500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px
  }

  .about__subtext {
    font-size: 14px;
    line-height: 28px;
    width: 100%
  }

  .about__btn {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 42px
  }

  .about__consultion {
    margin-bottom: 21px
  }

  .about__consultion img {
    width: 64px;
    height: 49px
  }

  .about__aspiration img {
    width: 64px;
    height: 62px;
    margin-bottom: 11px
  }
}

.work {
  margin-bottom: 100px
}

.work__title {
  margin-bottom: 49px
}

.work-tab__list {
  display: flex;
  margin-bottom: 46px
}

.work-tab__item:not(:last-child) {
  margin-right: 85px
}

.work-tab__btn {
  font-family: Montserrat400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  background-color: transparent;
  transition: .2s ease-in-out
}

.work-tab__items {
  display: none;
  -webkit-animation-name: work-item;
  animation-name: work-item;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

.work-tab__items:nth-child(1) {
  background-image: url(../images/workimg.webp), url(../images/workimg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 49% 100%
}

.work-tab__items:nth-child(2) {
  background-image: url(../images/workimg2.webp), url(../images/workimg2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 49% 100%
}

.work-tab__items:nth-child(3) {
  background-image: url(../images/workimg3.webp), url(../images/workimg3.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 49% 100%
}

.work-tab__items:nth-child(4) {
  background-image: url(../images/workimg4.webp), url(../images/workimg4.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 49% 100%
}

.work-tab__title {
  font-family: Montserrat700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  margin-bottom: 8px
}

.work-tab__text {
  width: 43%;
  margin-bottom: 50px
}

.work-tab__btns {
  display: flex;
  justify-content: flex-start
}

.work-tab__button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 38px;
  margin-right: 33px;
  transition: .2s ease-in-out
}

.work-tab__button:active {
  background-color: var(--color-dark-orange);
  transition-duration: .1s
}

.work-tab__but {
  display: block;
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 19px 37px;
  transition: .2s ease-in-out
}

.work-tab__but:active {
  color: var(--color-white);
  background-color: var(--color-dark-black);
  transition-duration: .1s
}

.btn-active {
  color: var(--color-dark-orange)
}

.tab-content-active {
  display: block
}

@-webkit-keyframes work-item {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes work-item {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media (max-width:1380px) {
  .work-tab__items:nth-child(1) {
    background-image: url(../images/workimg-1024.webp), url(../images/workimg-1024.png)
  }

  .work-tab__items:nth-child(2) {
    background-image: url(../images/workimg2-1024.webp), url(../images/workimg2-1024.png)
  }

  .work-tab__items:nth-child(3) {
    background-image: url(../images/workimg3-1024.webp), url(../images/workimg3-1024.png)
  }

  .work-tab__items:nth-child(4) {
    background-image: url(../images/workimg4-1024.webp), url(../images/workimg4-1024.png)
  }
}

@media (max-width:1200px) {
  .work {
    margin-bottom: 80px
  }

  .work__container {
    padding: 0 50px
  }

  .work-tab__list {
    margin-bottom: 52px
  }

  .work-tab__text {
    width: 48%;
    margin-bottom: 24px
  }
}

@media (max-width:1000px) {
  .work {
    margin-bottom: 83px
  }

  .work-tab__list {
    justify-content: space-between
  }

  .work-tab__text {
    width: 100%
  }

  .work-tab__items {
    padding-top: 48%
  }

  .work-tab__items:nth-child(1) {
    background-image: url(../images/workimg-768.webp), url(../images/workimg-768.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__items:nth-child(2) {
    background-image: url(../images/workimg2-768.webp), url(../images/workimg2-768.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__items:nth-child(3) {
    background-image: url(../images/workimg3-768.webp), url(../images/workimg3-768.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__items:nth-child(4) {
    background-image: url(../images/workimg4-768.webp), url(../images/workimg4-768.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__item:not(:last-child) {
    margin-right: 0
  }
}

@media (max-width:500px) {
  .work {
    margin-bottom: 61px
  }

  .work__container {
    padding: 0 15px
  }

  .work__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px
  }

  .work-tab__btn {
    font-size: 14px;
    line-height: 17px
  }

  .work-tab__title {
    font-family: Montserrat500;
    font-size: 18px;
    line-height: 32px
  }

  .work-tab__text {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px
  }

  .work-tab__list {
    margin-bottom: 15px
  }

  .work-tab__items {
    padding-top: 61%
  }

  .work-tab__items:nth-child(1) {
    background-image: url(../images/workimg-320.webp), url(../images/workimg-320.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__items:nth-child(2) {
    background-image: url(../images/workimg2-320.webp), url(../images/workimg2-320.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__items:nth-child(3) {
    background-image: url(../images/workimg3-320.webp), url(../images/workimg3-320.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__items:nth-child(4) {
    background-image: url(../images/workimg4-320.webp), url(../images/workimg4-320.png);
    background-position: top left;
    background-size: contain
  }

  .work-tab__button {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 30px;
    margin-right: 10px
  }

  .work-tab__but {
    font-size: 12px;
    line-height: 15px;
    padding: 11px 24px
  }
}

.questions {
  margin-bottom: 97px
}

.questions__title {
  margin-bottom: 43px
}

.accordion__heading {
  position: relative;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background: 0 0;
  transition: .2s ease-in-out
}

.accordion__heading svg ellipse,
.accordion__heading svg path {
  transition: .2s ease-in-out
}

.accordion__svg {
  flex-shrink: 0;
  transition: .2s ease-in-out
}

.accordion__item:last-child .ui-accordion-content-active {
  border-bottom: 1px solid #cacaca
}

.accordion__item:nth-child(3) .ui-accordion-header {
  padding-bottom: 27px
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  transition: .2s ease-in-out
}

.accordion__title span {
  display: block;
  margin-right: 75px
}

.accordion__text {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black)
}

.accordion__svg320 {
  display: none
}

.accordion__content {
  border: none;
  background: 0 0;
  padding: 0
}

.ui-accordion .ui-accordion-header {
  margin-top: -1px;
  padding: 32px 0 29px
}

.ui-corner-all {
  border-radius: 0
}

.ui-accordion .ui-accordion-content {
  padding: 30px 0
}

.ui-state-active {
  border-radius: 0;
  border-bottom-color: transparent
}

.ui-state-active svg {
  transform: rotate(45deg)
}

.ui-icon {
  display: none
}

@media (max-width:1200px) {
  .questions {
    margin-bottom: 82px
  }

  .questions__container {
    padding: 0 50px
  }

  .questions__title {
    margin-bottom: 32px
  }

  .accordion__title {
    font-size: 20px;
    line-height: 32px
  }

  .accordion__item:nth-child(2) .accordion__title span {
    width: 70%
  }

  .accordion__item:nth-child(3) .ui-accordion-header {
    padding-bottom: 32px
  }

  .ui-accordion .ui-accordion-header {
    padding: 29px 0 30px
  }
}

@media (max-width:871px) {
  .questions__title {
    margin-bottom: 31px
  }

  .accordion__title span {
    margin-right: 40px
  }

  .accordion__item:nth-child(2) .accordion__title span {
    width: 80%
  }

  .accordion__item:nth-child(4) .accordion__title span {
    width: 85%
  }
}

@media (max-width:500px) {
  .questions {
    margin-bottom: 59px
  }

  .questions__container {
    padding: 0 15px
  }

  .questions__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px
  }

  .accordion__title {
    font-size: 14px;
    line-height: 24px
  }

  .accordion__title span {
    margin-right: 15px
  }

  .accordion__text {
    font-size: 14px;
    line-height: 28px
  }

  .accordion__svg {
    display: none
  }

  .accordion__item:nth-child(2) .accordion__title span {
    width: 85%
  }

  .accordion__svg320 {
    display: block;
    flex-shrink: 0;
    transition: .2s ease-in-out
  }

  .ui-accordion .ui-accordion-header {
    padding: 23px 0 25px
  }

  .ui-accordion .ui-accordion-content {
    padding: 15px 0
  }
}

.footer {
  background-color: #222;
  padding: 50px 0
}

.footer__container {
  display: flex
}

.footer__logo {
  display: inline-block;
  margin-bottom: 22px
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin-right: 19.4%
}

.footer__list {
  margin-bottom: 90px;
  margin-left: -5px
}

.footer__link {
  font-family: Montserrat600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  padding: 0 4px 1px;
  border: 2px solid transparent;
  transition: .2s ease-in-out
}

.footer__link:active {
  transition-duration: .1s;
  color: var(--color-dark-orange)
}

.footer__icons {
  display: flex;
  margin-top: -3px;
  margin-left: -5px
}

.footer__icon {
  display: block;
  padding: 0 4px 1px;
  border: 2px solid transparent
}

.footer__icon svg path {
  transition: .2s ease-in-out
}

.footer__icon:active svg path {
  transition-duration: .1s;
  fill: var(--color-dark-orange)
}

.footer__iconitem:not(:last-child) {
  margin-right: 13px
}

.footer__title {
  font-family: Montserrat400;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
  margin-bottom: 25px
}

.footer__form {
  width: 32.2%;
  margin-right: 13.3%
}

.footer__text {
  width: 100%;
  height: 60px;
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  background-color: #414141;
  margin-bottom: 26px;
  padding: 27px 25px 25px;
  transition: .2s ease-in-out
}

.footer__text::-moz-placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__text:-ms-input-placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__text::placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__text:focus-visible {
  background-color: var(--color-gray)
}

.footer__email {
  width: 100%;
  height: 60px;
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  background-color: #414141;
  margin-bottom: 26px;
  padding: 27px 25px 25px;
  transition: .2s ease-in-out
}

.footer__email::-moz-placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__email:-ms-input-placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__email::placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__email:focus-visible {
  background-color: var(--color-gray)
}

.footer__textarea {
  width: 100%;
  height: 60px;
  min-height: 150px;
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  background-color: #414141;
  margin-bottom: 28px;
  padding: 14px 25px 25px;
  transition: .2s ease-in-out
}

.footer__textarea::-moz-placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__textarea:-ms-input-placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__textarea::placeholder {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca
}

.footer__textarea:focus-visible {
  background-color: var(--color-gray)
}

.footer__checkbox {
  position: absolute;
  top: 5px;
  left: 0;
  width: 14px;
  height: 14px;
  opacity: 0
}

.footer__checkbox:checked+span::after {
  opacity: 1
}

.footer__label {
  position: relative;
  display: block
}

.footer__label span {
  position: relative;
  top: 2px;
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  padding-left: 17px;
  color: #cacaca;
  white-space: nowrap
}

.footer__label span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  cursor: pointer
}

.footer__label span::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 4px;
  height: 6px;
  border-right: 1px solid #0ccf0c;
  border-bottom: 1px solid #0ccf0c;
  transform: rotate(45deg);
  opacity: 0;
  transition: .2s ease-in-out
}

.footer__wrp {
  display: flex;
  align-items: center
}

.footer__btn {
  font-size: 16px;
  line-height: 20px;
  padding: 20px 52px;
  margin-right: 23px;
  white-space: nowrap;
  transition: .2s ease-in-out
}

.footer__btn:active {
  background-color: var(--color-dark-orange)
}

.footer__svg320 {
  display: none
}

.footer__right {
  width: 20%
}

.footer__descr {
  font-family: Montserrat400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  padding-top: 89px
}

.js-validate-error-label {
  position: absolute;
  top: -21px;
  left: 0
}

@media (max-width:1481px) {
  .footer__right {
    display: none
  }

  .footer__left {
    margin-right: 5%
  }

  .footer__label span {
    white-space: break-spaces
  }

  .footer__form {
    width: 596px;
    margin-left: auto;
    margin-right: 0
  }
}

@media (max-width:1200px) {
  .footer__container {
    padding: 0 50px
  }

  .footer__left {
    margin-left: -2px
  }

  .footer__form {
    width: 541px
  }

  .footer__label span {
    top: 3px
  }

  .footer__label span::before {
    top: 2px
  }

  .footer__label span::after {
    top: 5px
  }

  .footer__btn {
    padding: 19px 38px;
    margin-right: 21px
  }
}

@media (max-width:940px) {
  .footer__container {
    flex-direction: column;
    align-items: center
  }

  .footer__logo {
    margin-bottom: 18px
  }

  .footer__left {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    order: 2
  }

  .footer__form {
    width: 100%;
    order: 1;
    margin-bottom: 49px
  }

  .footer__list {
    display: none
  }
}

@media (max-width:768px) {
  .footer__container {
    align-items: flex-start
  }

  .footer__form {
    width: 81%;
    margin-left: 0
  }

  .footer__label span {
    white-space: nowrap;
    font-size: 14px;
    padding-left: 23px
  }

  .footer__left {
    width: 100%
  }
}

@media (max-width:625px) {
  .footer__container {
    align-items: center
  }

  .footer__label span {
    white-space: normal
  }

  .footer__form {
    width: 100%
  }

  .footer__btn {
    margin-right: 0;
    margin-bottom: 5px
  }

  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .footer__left {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 0
  }

  .footer__wrp {
    flex-direction: column
  }
}

@media (max-width:500px) {
  .footer {
    padding: 32px 0
  }

  .footer__container {
    padding: 0 15px
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px
  }

  .footer__form {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #595959
  }

  .footer__text {
    padding: 27px 25px 25px 20px
  }

  .footer__text::-moz-placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__text:-ms-input-placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__text::placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__email {
    padding: 27px 25px 25px 20px
  }

  .footer__email::-moz-placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__email:-ms-input-placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__email::placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__textarea {
    padding: 14px 25px 25px 20px;
    margin-bottom: 21px
  }

  .footer__textarea::-moz-placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__textarea::placeholder {
    font-size: 14px;
    line-height: 32px
  }

  .footer__btn {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 28px;
    margin-bottom: 9px
  }

  .footer__icons {
    margin-left: 4px
  }

  .footer__iconitem:not(:last-child) {
    margin-right: 4px
  }

  .footer__svg {
    display: none
  }

  .footer__svg320 {
    display: block
  }
}